// Project Article
.project-module {
  // Give some visual separation on mobile
  border-bottom: $beat*2 solid $white;
  .view-project {
    display: none;
  }
}

// Project article hover states
@include media-md {
  .project-module {
    border-bottom: none;
    @include hardware-acceleration;
    overflow: hidden;
    position: relative;
    .view-project {
      @include font-h1;
      @include font-smoothing;
      padding: $padding;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      color: $white;
      transition: transform .2s $ease;
      transform: translateX(-100%);
      svg {
        width: 30px;
        height: 22px;
        position: absolute;
        fill: $white;
        position: absolute;
        top: $padding + 4px;
        right: $padding;
      }
    }
    &::after,
    &::before {
      @include hardware-acceleration;
      left: 0;
      z-index: 1;
      top: -100%;
      content: '';
      width: 200%; // change to 100% for half-cover overlay
      height: 200%;
      opacity: .66;
      background: $red;
      position: absolute;
      transition: transform 0.3s $ease;
      transform: skew(-18deg) translateX(-100%);

    }
    &:hover {
      .view-project {
        transform: translateX(0);
        transition-delay: .2s;
      }
      &::after,
      &::before {
        transition-delay: .2s;
        transform: skew(-18deg) translateX(0);
      }
    }
  }
}
@include media-lg {
  .project-module {
    .view-project {
      padding: $padding-lg;
      svg {
        top: $padding-lg + 15px;
        right: $padding-lg;
      }
    }
  }
}

.project-title {
  color: $white;
  padding: $padding;

  @include media-lg {
    padding: $padding-lg;
  }

  &.-nopad {
    padding: 0;
  }

  h2,
  h3 {
    @include font-smoothing;
    z-index: 2;
    position: relative;
  }

  h2 {
    @include font-p;
  }

  h3 {
    @include font-details;
  }

  a {
    text-decoration: none;
    &:hover {
      color: $white;
    }
  }
}

// Some changes for when not in masonry
.row-block {
  .project-module {
    display: flex;
    flex-direction: column;
    height: 100%;
    .image-wrap {
      flex: 0 1 auto;
    }
    .project-title {
      flex: 1 1 auto;
    }
  }
}

// Related posts lists (e.g. related projects)
.related-posts {
  // Always use landscape size for consistent grid
  .image-wrap.-portrait {
    padding-bottom: $landscape-padding;
  }
}

// Post Articles
.post-module {
  position: relative;
  padding: 0 $padding-sm ($padding+36px);

  .news-title {
    padding-top: $beat*2;
    @include media-md {
      padding-top: $beat*2.5;
    }
  }

  .category {
    color: $red;
  }
  .title {
    margin: 5px 0;
  }
  .excerpt {
    margin: 1.5*$beat 0;
    @include media-md {
      margin: 2.5*$beat 0 3.5*$beat;
    }
  }
  .button {
    position: absolute;
    bottom: 4.5*$beat;
    @include media-md {
      bottom: $padding-md;
    }
    @include media-lg {
      bottom: $padding-lg;
    }
  }
}

// These are for related news posts, so pull images out to edges
.row-block.separate {
  .post-module {
    @include media-md {
      padding: 0 0 $padding-md+36px;
      .news-title {
        padding: $padding-md;
      }
    }
    @include media-lg {
      padding: 0 0 $padding-lg+36px;
      .news-title {
        padding: $padding-lg;
      }
    }
  }
}

// Odd/even masonry grid styles to give center column of one $padding
.masonry-item {
  @include media-md {
    &:nth-child(odd) .post-module {
      padding: 0 $padding-md/2 ($padding-md+36px) $padding-md;
    }
    &:nth-child(even) .post-module {
      padding: 0 $padding-md ($padding-md+36px) $padding-md/2;
    }
  }
  @include media-lg {
    &:nth-child(odd) .post-module {
      padding: 0 $padding-lg/2 ($padding-lg+36px) $padding-lg;
    }
    &:nth-child(even) .post-module {
      padding: 0 $padding-lg ($padding-lg+36px) $padding-lg/2;
    }
  }
}


// Override red category on text-white (mostly for featured news posts)
.text-white > .post-module .category {
  color: $white;
}

.no-posts-found {
  padding: $padding;
}
