// Project Article
.project-module {
  @include hardware-acceleration;
  overflow: hidden;
  position: relative;

  &::after, &::before {
    @include hardware-acceleration;
    left: 0;
    z-index: 1;
    top: -100%;
    content: '';
    width: 200%; // 100% if they choose half-covering overlay
    height: 200%;
    opacity: .66;
    background: $red;
    position: absolute;
    transition: transform 0.3s $ease;
    transform: skew(-18deg) translateX(-100%);

  }
  &:hover {
    &::after, &::before {
      transform: skew(-18deg) translateX(0);
    }
  }
}

.project-title {
  color: $white;
  padding: $padding;

  @include media-lg {
    padding: $padding-lg;
  }

  &.-nopad {
    padding: 0;
  }

  h1, h2 {
    @include font-smoothing;
    margin: 0;
    z-index: 2;
    position: relative;
  }

  h1 {
    @include font-p;
  }

  h2 {
    padding-top: 3px;
    @include font-details;
  }

  a {
    text-decoration: none;
  }
}

// Some changes for when not in masonty
.row-block {
  .project-module {
    display: flex;
    flex-direction: column;
    .project-title {
      flex-grow: 1;
    }
  }
  .image-wrap.-portrait {
    padding-bottom: $landscape-padding;
  }
}

// Post Articles
.post-module {
  position: relative;
  padding: $padding-sm $padding-sm ($padding-sm+36px);

  .category {
    color: $red;
  }
  .title {
    margin: 5px 0;
  }
  .excerpt {
    margin: 4.5*$beat 0 5.5*$beat;
  }
  .button {
    position: absolute;
    bottom: $padding-sm;
    @include media-md {
      bottom: $padding-md;
    }
    @include media-lg {
      bottom: $padding-lg;
    }
  }

  @include media-md {
    padding: $padding-md $padding-md ($padding-md+36px);
  }
  @include media-lg {
    padding: $padding-lg $padding-lg ($padding-lg+36px);
  }
}

// Override red category on text-white (mostly for featured news posts)
.text-white > .post-module .category {
  color: $white;
}

// Person Articles
.person-module {
  .title {
    margin: 6px 0 0;
  }
}

.no-posts-found {
  padding: $padding;
}