// Project Article
.project-module .view-project {
  display: none;
}
.no-touch {
  // On non-touch devices, show hover state on project thumbs
  .project-module {
    @include hardware-acceleration;
    overflow: hidden;
    position: relative;
    .view-project {
      @include font-h1;
      @include font-smoothing;
      padding: $padding;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      color: $white;
      transition: transform .2s $ease;
      transform: translateX(-100%);
      svg {
        width: 30px;
        height: 22px;
        position: absolute;
        fill: $white;
        position: absolute;
        top: $padding + 4px;
        right: $padding;
      }

      @include media-lg {
        padding: $padding-lg;
        svg {
          top: $padding-lg + 15px;
          right: $padding-lg;
        }
      }
    }
    &::after,
    &::before {
      @include hardware-acceleration;
      left: 0;
      z-index: 1;
      top: -100%;
      content: '';
      width: 200%; // change to 100% for half-cover overlay
      height: 200%;
      opacity: .66;
      background: $red;
      position: absolute;
      transition: transform 0.3s $ease;
      transform: skew(-18deg) translateX(-100%);

    }
    &:hover {
      .view-project {
        transform: translateX(0);
      }
      &::after,
      &::before {
        transform: skew(-18deg) translateX(0);
      }
    }
  }
}

.project-title {
  color: $white;
  padding: $padding;

  @include media-lg {
    padding: $padding-lg;
  }

  &.-nopad {
    padding: 0;
  }

  h1, h2 {
    @include font-smoothing;
    margin: 0;
    z-index: 2;
    position: relative;
  }

  h1 {
    @include font-p;
  }

  h2 {
    padding-top: 3px;
    @include font-details;
  }

  a {
    text-decoration: none;
  }
}

// Some changes for when not in masonty
.row-block {
  .project-module {
    display: flex;
    flex-direction: column;
    .project-title {
      flex-grow: 1;
    }
  }
  .image-wrap.-portrait {
    padding-bottom: $landscape-padding;
  }
}

// Post Articles
.post-module {
  position: relative;
  padding: $padding-sm $padding-sm ($padding-sm+36px);

  .category {
    color: $red;
  }
  .title {
    margin: 5px 0;
  }
  .excerpt {
    margin: 4.5*$beat 0 5.5*$beat;
  }
  .button {
    position: absolute;
    bottom: $padding-sm;
    @include media-md {
      bottom: $padding-md;
    }
    @include media-lg {
      bottom: $padding-lg;
    }
  }

  @include media-md {
    padding: $padding-md $padding-md ($padding-md+36px);
  }
  @include media-lg {
    padding: $padding-lg $padding-lg ($padding-lg+36px);
  }
}

// Override red category on text-white (mostly for featured news posts)
.text-white > .post-module .category {
  color: $white;
}

// Person Articles
.person-module {
  .title {
    margin: 6px 0 0;
  }
}

.no-posts-found {
  padding: $padding;
}