// Base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  min-width: 320px;
  box-sizing: border-box;
}

body {
  color: $black;
  @include font-p;
  min-height: 100%;
  background: $white;
}

a {
  color: inherit;
}

blockquote {
  @include font-h1;
  margin-left: 0;
  margin-right: 0;

  footer {
    @include font-details;
    margin-top: 30px;
  }
}

button {
  border: 0;
  outline: 0;
  appearance: none;
  backgound: transparent;
}

.svgs-defs {
  display: none;
}

.bigclicky {
  cursor: pointer;
}