// Base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  min-width: 320px;
  box-sizing: border-box;
}

body {
  color: $black;
  @include font-p;
  background: $white;
  position: relative;
}

.no-scroll {
  overflow-y: hidden;
}

a {
  color: inherit;
  &:hover {
    color: $red;
  }
}

blockquote {
  @include font-h1;
  margin-right: 0;
  position: relative;
  margin-left: -10px;
  padding-left: 10px;

  @include media-lg {
    margin-left: -14px;
    padding-left: 14px;
  }
  @include media-xl {
    margin-left: -18px;
    padding-left: 18px;
  }

  .hang {
    position: absolute;
    left: 0;
  }

  footer {
    @include font-details;
    margin-top: 30px;
  }
}

button {
  border: 0;
  outline: 0;
  appearance: none;
  background: transparent;
}

.svgs-defs {
  display: none;
}

.bigclicky {
  cursor: pointer;
}

.email-part {
  display: block;
}

h1 { @include font-h1; }
h2, h3, h4, h5, h6 { @include font-h2; }