@mixin outline-cornerize($border-color, $background-color, $corner-width: 6px, $offset: 2px) {
  overflow: hidden;
  position: relative;
  background: $background-color;

  .border {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border: 1px solid $border-color;
  }

  &:after,
  &:before,
  .extra-corners:after,
  .extra-corners:before {
    z-index: 1;
    content: '';
    position: absolute;
    width: $corner-width;
    height: $corner-width;
    transform: rotate(45deg);
    background: $background-color;
  }

  &:after {
    bottom: -($offset);
    left: -($offset);
    border-top: 1px solid $border-color;
  }

  &:before {
    bottom: -($offset);
    right: -($offset);
    border-left: 1px solid $border-color;
  }

  .extra-corners:after {
    top: -($offset);
    left: -($offset);
    border-right: 1px solid $border-color;
  }

  .extra-corners:before {
    top: -($offset);
    right: -($offset);
    border-bottom: 1px solid $border-color;
  }
}

@mixin solid-cornerize($color, $corner-width: 6px) {
  background: $color;
  position: relative;
  clip-path: polygon(#{$corner-width} 0%, calc(100% - #{$corner-width}) 0%, 100% #{$corner-width}, 100% calc(100% - #{$corner-width}), calc(100% - #{$corner-width}) 100%, #{$corner-width} 100%, 0% calc(100% - #{$corner-width}), 0% #{$corner-width});
}


.button {
  @include font-buttons;
  text-align: left;
  position: relative;
  text-decoration: none;
  padding: 11px 7*$beat 11px 11px;
  @include outline-cornerize($black, $white);

  &:hover {
    background-color: $black;
    fill: $white;
    color: $white;
    @include font-smoothing;
  }


  &.-solid {
    @include solid-cornerize($red);
    &::before, &::after {
      display: none;
    }
  }

  .icon {
    position: absolute;
  }

  .icon-plus {
    top: 16px;
    width: 7px;
    right: 20px;
    height: 7px;
  }

  .icon-search {
    top: 14px;
    width: 10.3px;
    right: 16px;
    height: 10.3px;
  }

  .icon-right-arrow {
    top: 16px;
    width: 9px;
    right: 20px;
    height: 7px;
  }

  .icon-triangle {
    top: 16px;
    width: 9px;
    right: 20px;
    height: 7px;
  }

  .icon-down-arrow {
    top: 15px;
    width: 7px;
    right: 15px;
    height: 9px;
  }
}

@each $color-key, $color in $colors {

  .text-#{$color-key} {

    .button, &.button {
      fill: $color;
      color: $color;

      .border, .extra-corners::after, .extra-corners::before, &::after, &::before {
        border-color: $color;
      }

      &:hover {
        background-color: $color;
      }
    }
  }

  .background-#{$color-key} {

    .button, &.button {

      &, .extra-corners::after, .extra-corners::before, &::after, &::before {
        background-color: $color;
      }

      &:hover {
        fill: $color;
        color: $color;
      }
    }
  }
}