// Header

.site-header {
  background-color: $concrete-med;

  .secondary-links, .search-block {
    display: none;
  }

  .lockup-block {
    background: $white;
    padding: $padding $padding 0;
  }

  @include media-md {
    min-height: 16*$beat;

    .row-block {
      padding: $padding;
    }
  }

  @include media-lg {

    .lockup-block {
      display: none;
    }

    .secondary-links, .search-block {
      display: block;
    }

    .search-block {
      background: $white;
    }

    .secondary-links {
      text-align: right;
      a {
        color: $white;
        @include font-smoothing;
      }
    }
  }
}

body.overlapping-header {
  @include media-md {
    .site-header {
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      position: absolute;
      background-color: rgba($black,0.5);
    }
  }
}

body.white-header {
  .site-header {
    background-color: $white;
  }
  .secondary-links a {
    color: $black;
  }
}



.lockup {
  @include clearfix;
  position: relative;

  .affiliated-engineers {
    float: left;

    .logo {
      fill: $black;
      display: block;
      width: 200px;
      height: 44px;
    }
  }

  .plan-design-commission {
    display: none;

    @include min-screen(850px) {
      @include font-details;
      @include semantic-only-list;
      margin: 0;
      top: -3px;
      float: right;
      display: block;
      text-align: right;
      position: relative;
    }
  }
}