// Header

// Body padding to accommodate header height
body {
  padding-top: $header-height;
  @include media-sm {
    padding-top: $header-height-sm;
  }
  @include media-md {
    padding-top: $header-height-md;
  }
  @include media-lg {
    padding-top: $header-height-lg;
  }
}

.site-header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  position: absolute;
  padding: $beat*3 $padding-sm $padding-sm $padding-sm;
  height: $header-height;
  background-color: $white;

  @include media-sm {
    height: $header-height-sm;
    // padding: $padding-md;
    border-bottom: 1px solid $concrete-light;
  }
  @include media-md {
    height: $header-height-md;
    z-index: 10;
    padding: 40px #{$padding-md - 16px} $padding-md $padding-md;
    .lockup-block {
      float: left;
    }
  }
  @include media-lg {
    height: $header-height-lg;
    padding: 50px #{$padding-lg - 16px} $padding-lg $padding-lg;
  }
}

#sticky-header {
  @include hardware-acceleration;
  transition: opacity 0.2s;
  &.-stuck {
    position: fixed;
    border-bottom: 1px solid $concrete-light;
  }
  &.-scrolled {
    opacity: 0;
    pointer-events: none;
  }
  &.-scrolling-up {
    opacity: 1;
    pointer-events: auto;
  }
}

.lockup {
  @include clearfix;
  position: relative;
  display: block;
  width: 50%;
  padding: $beat 0;

  @include media-sm {
    padding: $beat*2 0;
  }

  .affiliated-engineers {
    float: left;

    .logo {
      fill: $black;
      display: block;
      width: 168px;
      height: 36.6px;

      @include media-md {
        width: 211px;
        height: 46px;
      }
    }
  }

  @include media-md {
    width: 100%;
  }
}