// Header

.site-header {

  .lockup-block {
    background: $white;
    padding: $padding $padding $padding;
  }

  @include media-md {
    min-height: 16*$beat;

    .row-block {
      padding: $padding;
    }
  }

  @include media-lg {
    .lockup-block {
      display: none;
    }
  }
}

#sticky-nav {
  display: none;

  @include media-lg {
    @include hardware-acceleration;
    z-index: 10;
    display: flex;
    height: 16*$beat;
    position: absolute;
    transition: opacity 0.2s;

    &.-unstuck {
      width: 66.67%;
      position: fixed;
    }

    &.-scrolled {
      opacity: 0;
    }
    &.-scrolling-up {
      opacity: 1;
    }

    .search-block {
      background: $white;
    }

    .row-block {
      padding: $padding;
    }

    .secondary-links {
      background-color: $concrete-med;
      text-align: right;
      a {
        color: $white;
        @include font-smoothing;
        display: inline-block;
      }
    }
  }
}

body.overlapping-header {
  @include media-md {
    .site-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }
    #sticky-nav .secondary-links {
      background-color: rgba($black, 0.5);
    }
  }
}

body.white-header {
  #sticky-nav .secondary-links {
    background-color: $white;

    a {
      color: $black;
    }
  }
}

.lockup {
  @include clearfix;
  position: relative;

  .affiliated-engineers {
    float: left;

    .logo {
      fill: $black;
      display: block;
      width: 200px;
      height: 44px;
    }
  }

  .plan-design-commission {
    display: none;

    @include min-screen(850px) {
      @include font-details;
      @include semantic-only-list;
      top: -3px;
      margin: 0;
      float: right;
      display: block;
      text-align: right;
      position: relative;
    }
  }
}