.image-wrap {
  overflow: hidden;
  position: relative;
  background-color: $concrete-med;

  .image {
    top: -0.5px;
    left: -0.5px;
    opacity: 0.9;
    right: -0.5px;
    bottom: -0.5px;
    position: absolute;
    background-size: cover;
    background-position: center center;

    &.-top-weight {
      background-position: top center;
    }
  }

  &.-portrait, &.-landscape, &.-square {
    height: 0; 
  }

  &.-landscape {
    padding-bottom: $landscape-padding;
  }

  &.-portrait {
    padding-bottom: $portrait-padding;
  }

  &.-square {
    padding-bottom: 100%;
  }

  @include media-md {
    &.-landscape-md {
      padding-bottom: $landscape-padding;
    }

    &.-portrait-md {
      padding-bottom: $portrait-padding;
    }
  }
}