// Site Layout

.right-col-wrap {
  width: 100%;

  @include media-lg {
    padding-left: $sidebar-max-width;
    .right-col {
      border-left: 1px solid $concrete-light;
    }
  }

  .right-col {
    display: flex;
    min-height: 100vh;
    position: relative;
    flex-direction: column;

    .site-main {
      flex: 1;
      @include clearfix;
    }
  }
}

// No sidebar on Homepage/Search page
body.page-home,
body.page-search {
  .right-col-wrap {
    @include media-lg {
      padding-left: 0;
      .right-col {
        border: none;
      }
    }
    @include media-xl {
      padding-left: 0;
    }
  }
}