.masonry-grid {
	background: $black;
  @include clearfix;
  margin: 0;
	.masonry-item:last-of-type {
		.project-module {
			border: none;
		}
	}
  .masonry-item,
  .masonry-sizer {
    width: 100%;
    @include media-md {
      width: 50%;
    }
  }
}
