// Stats
.stat-module {
  overflow: hidden;
  background-color: $white;
  padding: $padding-sm;

  @include media-md {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-md;
  }

  @include media-lg {
    padding: $padding-lg;
  }

  // Stat figures
  .figure {
    text-align: center;
    dl,
    dt,
    dd {
      margin: 0;
      padding: 0;
    }
    dt {
      @include font-stat-medium;

      @include media-sm {
        @include font-stat-large;
      }

      // Verbose stat figures (> 8 chars)
      &.-verbose {
        @include max-screen($breakpoint-sm) {
          @include font-stat-small;
        }
        @include screen($breakpoint-md, $breakpoint-xl - 1px) {
          @include font-stat-medium;
        }
      }
    }
    dd {
      @include font-p;
      margin: $beat 0;
    }
  }

  // Two figure stats
  &.stat-two-figure {
    .figure:nth-child(1) {
      padding-bottom: $beat*2;
      border-bottom: 1px solid $concrete-light;
    }
  }

  .percent {
    top: -1.3em;
    line-height: 1;
    font-size: .33em;
    position: relative;
    margin-left: 0.2ch;
  }
}

// Aspect ratio height
.masonry-item,
.row .row-block {
  .module {
    &.stat-module,
    &.stat-two-figure-module {
      min-height: initial;

      @include media-md {
        height: calc( (100vw - #{$padding})/2*(2/3) );
      }

      @include media-lg {
        height: calc( 100vw/3*(2/3) );
      }

      @include media-xl {
        height: calc( (100vw - #{$sidebar-max-width})/2*(2/3) );
      }
    }
  }
  // Reduce tall stat modules in headers
  &.-snugstats .module {
    &.stat-module,
    &.stat-two-figure-module {
      height: 100% !important;
    }
  }
}

// Image / Video
.image-module, .video-module {
  @include clearfix;
  @include max-screen($breakpoint-md - 1px) {
    margin-top: $padding;
  }

  .caption {
    background: $white;
    position: relative;
    padding: 55px $padding $padding;

    @include media-lg {
      padding: 55px $padding-lg $padding-lg;
    }

    .icon {
      top: 38px;
      width: 7px;
      height: 10px;
      fill: $black;
      left: $padding;
      position: absolute;

      @include media-lg {
        left: $padding-lg;
      }
    }
  }

  &.-full .caption {
    @include media-md {
      display: inline-block;
      width: 50%;
      margin-top: -6*$beat;

      &.-right {
        float: right;
      }
    }
  }
}

// Video
.video-module {
  .caption {
    transition: transform 0.3s $ease;
  }
  &.theater-wrap.-open {
    .caption {
      @include media-md {
        transform: translateY(#{6*$beat});
      }
    }
  }
}

// Text
.text-module {
  @include global-padding;

  .buttons {
    @include clearfix;
    margin-top: $padding;

    @include media-lg {
      margin-top: $padding-lg;
    }

    .button {
      float: left;
      margin-right: 2*$beat;
      margin-bottom: 2*$beat;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
// Give text-modules inside a masonry area white bg
.masonry-item .text-module {
  background: $white;
}

// Quote Carousel
// Blockquotes currently use a negative-margin with compensatory padding
// to create hanging quotes.  In the carousel that will effect sizing,
// so we remove the negative margin and instead adjust the module padding
.quotes-module {
  padding: $padding $padding $padding #{$padding - 10px};

  // Hide overflow for multi-quote slick-sliders
  &.-multiple {
    overflow: hidden;
    // Show overhanging quotes on slick carousel
    .slick-list {
      overflow: visible;
    }
  }

  @include media-lg {
    padding: $padding-lg $padding-lg $padding-lg #{$padding-lg - 9px};
  }

  blockquote {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// Remove padding on quotes-module inside text-module (e.g. quote at top of office entry)
.text-module .quotes-module {
  padding: 0;
}

.quote-carousel {
  position: relative;
  padding-bottom: $padding*2;

  .next, .prev {
      bottom: 0;
      left: 10px;
      cursor: pointer;
      position: absolute;

      @include media-md {
        left: 9px;
      }

      .icon {
        width: 20px;
        height: 15px;
        fill: $black;
        transition: transform 0.1s $ease;
      }
  }

  .prev {
    &:hover {
      .icon { transform: translateX(-5px); }
    }
  }

  .next {
    margin-left: $padding*2;

    @include media-md {
      margin-left: $padding;
    }

    &:hover {
      .icon { transform: translateX(5px); }
    }
  }

  &.-unslicked {
    blockquote {
      display: none;
      &:first-child {
        display: block;
      }
    }
  }
}

// Link Grid
.row.-spaced {
  .link-grid-module {
    .row-block {
      margin: 0;
    }
  }
}

.link-grid-module {
  .row-block {

    @include min-screen($breakpoint-thirds-2col) {
      min-height: calc((100vw - #{$padding})/2);
    }

    @include min-screen($breakpoint-thirds-3col) {
      min-height: calc((100vw - #{$padding})/3);
    }

    @include media-lg {
      min-height: calc(66.66vw / 3);
    }
  }

  .link-module {
    min-height: 100%;
    position: relative;
    padding: $padding $padding ($padding+66px);

    @include media-lg {
      padding: $padding-lg $padding-lg ($padding-lg+66px);
    }

    .category {
      color: $red;
    }
    .title {
      margin: 5px 0;
    }
    .excerpt {
      margin: 4.5*$beat 0 5.5*$beat;
    }
    .button {
      position: absolute;
      bottom: $padding;

      @include media-lg {
        bottom: $padding-lg;
      }
    }
  }
}

