button {
  backgound: transparent;
  appearance: none;
  border: 0;
  outline: 0;
}

.text-module {
  padding: $padding;

  .buttons {
    @include clearfix;
    margin-top: $padding;

    @include media-lg {
      margin-top: 7*$beat;
    }
    .button {
      float: left;
      margin-bottom: 2*$beat;
      margin-right: 2*$beat;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.text-module, .user-content {

  p:not(:last-child) {
    margin-bottom: 1.45em;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

blockquote {
  @include font-h1;
  margin-left: 0;
  margin-right: 0;

  footer {
    @include font-details;
    margin-top: 30px;
  }
}

.quote-carousel {
  &.-unslicked {
    blockquote {
      display: none;
      &:first-child {
        display: block;
      }
    }
  }
}


.post-module {
  .category {
    color: $red;
  }
  .title {
    margin: 5px 0;
  }
  .excerpt {
    margin: 4.5*$beat 0 5.5*$beat;
  }
}

.person-module {
  .title {
    margin: 6px 0 0;
  }
}

.meta {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;

  .meta-item {
    flex: 0 0 0;
    padding: 30px $padding $padding;

    h3 {
      margin: 0 0 7px;
      @include font-p;
    }

    .content {
      @include font-details;
    }

    &.-half {
      max-width: 50%;
      flex-basis: 50%;
      padding-right: 30px;
    }

    &.-full {
      flex-basis: 100%;
    }
  }
}


.post-navigation {
  margin: $padding 0;
  @include media-md {
    margin: 2*$padding 0 $padding;
  }

  .prev-post, .next-post {
    position: relative;
    .icon {
      top: $padding + 27px;
      width: 16px;
      height: 16px;
      fill: $black;
      position: absolute;
    }
    .post-title {
      margin-top: 5px;
    }
  }

  .next-post {
    .icon {
      right: $padding;
    }
    &:hover .icon {
      animation-duration: 0.3s;
      animation-timing-function: $ease;
      animation-name: right-arrow-hover;
    }
  }
  .prev-post {
    text-align: right;
    .icon {
      left: $padding;
    }
    &:hover .icon {
      animation-duration: 0.3s;
      animation-timing-function: $ease;
      animation-name: left-arrow-hover;
    }
  }
}

.page-intro {
  .page-quote {
    margin-bottom: 70px;
  }
}