// Main Site Navigation

.site-nav {
  @include hardware-acceleration;
  width: 100%;
  background: $white;
  transition: transform 0.2s $ease;

  @include media-lg {
    width: auto;
    float: right;
    transition: none;
    text-align: right;
  }

  .primary-links {
    @include font-h2;
    @include font-smoothing;

    @include media-md {
      text-align: right;
    }

    .primary-links-item {
      color: $black;
      position: relative;

      a {
        text-decoration: none;

        // Hover Arrow
        &::after {
          right: 0;
          opacity: 0;
          bottom: 3px;
          content: '';
          width: 11.1px;
          height: 15.7px;
          position: absolute;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('../svgs/icon-right-arrow-white.svg');
          @include media-lg {
            display: none;
          }
        }
      }

      &.current a, a:hover {
        color: $red;
        &::after {
          opacity: 1;
        }
      }

      a:hover {
        &::after {
          animation: right-arrow-hover $ease 0.3s;
        }
      }

      @include media-md {
        display: inline-block;
      }
    }
  }
}

.secondary-links {
  @include font-buttons;
  @include semantic-only-list;

  .secondary-links-item {
    display: block;
    text-align: right;
    &:first-of-type {
      margin-bottom: 1.5*$beat;
    }

    &.home-link {
      top: $padding+3.5*$beat;
      left: $padding;
      position: absolute;
    }

    @include min-screen(550px) {
      margin-left: 3ch;
      display: inline-block;
      &.home-link {
        position: static;
      }
    }

    &.current a, a:hover {
      text-decoration: underline;
    }
  }

  .search-open {
    float: right;

    @include media-lg {
      float: none;
    }
  }

  @include media-lg {
    li {
      display: inline-block;
    }
  }
}

.nav-close {
  @include hardware-acceleration;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: fixed;
  cursor: pointer;
  transition: opacity 0.2s $ease;
  background-color: rgba($black,0.75);

  @include media-lg {
    display: none;
  }

  .icon-x {
    top: 38.7px;
    right: 14.7px;
    width: 10.7px;
    height: 10.7px;
    position: absolute;
    fill: $concrete-light;
  }
}

.nav-open {
  @include hardware-acceleration;
  width: $padding;
  cursor: pointer;
  top: $padding-sm;
  right: $padding-sm;
  position: absolute;

  @include media-md {
    top: $padding-md;
    right: $padding-md;
  }

  @include media-lg {
    display: none;
  }

  .icon-hamburger {
    top: 41px;
    left: 14px;
    width: 12px;
    height: 6px;
    fill: $black;
    position: absolute;
  }
}

@include max-screen($breakpoint-lg - 1px) {
   body.site-nav-closed, body:not(.loaded) {
    .site-nav {
      transform: translateX(100%);
    }
    .nav-close {
      opacity: 0;
      pointer-events: none;
    }
    .current-filter-label, .nav-open .icon-hamburger {
      opacity: 1;
      transition: 0.2s 0.3s $ease;
    }
    .nav-content {
      opacity: 0;
      transition: opacity 0.2s $ease;
    }

  }
  body.site-nav-open {
    overflow: hidden; // prevent scrolling in body when nav is open

    .current-filter-label, .nav-open .icon-hamburger {
      opacity: 0;
      transition: 0.1s $ease;
    }
  }
}