// Main Site Navigation

.site-nav {
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  display: flex;
  position: fixed;
  right: $padding;
  overflow-y: auto;
  padding: $padding;
  flex-direction: column;
  background: $concrete-light;
  transition: transform 0.2s $ease;


  @include min-screen(900px) {
    right: auto;
    width: calc( 50% - #{$padding/2} );
  }

  @include media-lg {
    width: 33.33%;
    transition: none;
  }

  .top-nav {
    @include clearfix;

    .search-open {
      float: left;
    }
    .secondary-links {
      float: right;
    }

    @include media-lg {
      display: none;
    }
  }

  .lockup {
    display: none;

    @include media-lg {
      display: block;
      margin-top: 4px;

      @include min-screen-height(750px) {
        margin-top: 12*$beat;
      }
    }
  }

  .primary-links {
    @include font-h2;
    @include font-smoothing;

    margin: 84px 0 0;

    @include media-lg {
      @include min-screen-height(810px) {
        margin-top: 122px;
      }
    }

    .primary-links-item {
      color: $black;
      position: relative;

      a {
        text-decoration: none;

        &::after {
          right: 0;
          opacity: 0;
          bottom: 3px;
          content: '';
          width: 11.1px;
          height: 15.7px;
          position: absolute;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('../svgs/icon-right-arrow-white.svg');
        }
      }

      &.current a, a:hover {
        color: $white;
        &::after {
          opacity: 1;
        }
      }

      a:hover {
        &::after {
          animation: right-arrow-hover $ease 0.3s;
        }
      }
    }
  }

  .filters {
    @include font-filter;
    @include font-smoothing;
    @include semantic-only-list;
    margin: 85px 0 0;

    @include media-lg {
      @include min-screen-height(810px) {
        margin-top: 110px;
      }
    }

    .filters-item {
      display: inline;

      a {
        color: $black;
        text-decoration: none;

        &::after {
          content: '/';
          color: $black;
          margin-left: 0.8ch;
          margin-right: 0.4ch;
        }
      }

      &.current a, a:hover {
        color: $white;
      }

      &:last-child {
        a::after {
          display: none;
        }
      }
    }
  }
}

.secondary-links {
  @include font-buttons;
  @include semantic-only-list;

  .secondary-links-item {
    display: block;
    text-align: right;
    &:first-of-type {
      margin-bottom: 1.5*$beat;
    }

    &.home-link {
      top: $padding+3.5*$beat;
      left: $padding;
      position: absolute;
    }

    @include min-screen(550px) {
      margin-left: 3ch;
      display: inline-block;
      &.home-link {
        position: static;
      }
    }

    &.current a, a:hover {
      text-decoration: underline;
    }
  }
}

.nav-close {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: fixed;
  cursor: pointer;
  transition: opacity 0.2s $ease;
  background-color: rgba($black,0.75);

  @include media-lg {
    display: none;
  }

  .icon-x {
    top: 38.7px;
    right: 14.7px;
    width: 10.7px;
    height: 10.7px;
    position: absolute;
    fill: $concrete-light;
  }
}

.nav-open {
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  width: $padding;
  cursor: pointer;
  background-color: $concrete-light;

  @include media-lg {
    display: none;
  }

  .icon-hamburger {
    top: 41px;
    left: 14px;
    width: 12px;
    height: 6px;
    fill: $black;
    position: absolute;
  }
}

.current-filter-label {
  top: 172px;
  z-index: 2;
  right: 100%;
  position: fixed;
  text-align: right;
  white-space: nowrap;
  line-height: $padding;
  transform-origin: 100% 0%;
  transform: rotate(-90deg);
  transition: opacity 0.2s $ease;

  a.close-filter {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 2*$beat;

    &:hover {
      .icon-x {
        fill: $black;
      }
    }

    .icon-x {
      width: 7px;
      height: 7px;
      fill: $white;
    }
  }
  @include media-lg {
    display: none;
  }
}

@include max-screen ($breakpoint-lg - 1px) {
   body.site-nav-closed, body:not(.loaded) {
    .site-nav {
      transform: translateX(-100%);
    }
    .nav-close {
      opacity: 0;
      pointer-events: none;
    }
    .current-filter-label, .nav-open .icon-hamburger {
      opacity: 1;
      transition: 0.2s 0.3s $ease;
    }
    .nav-content {
      opacity: 0;
      transition: opacity 0.2s $ease;
    }

  }
  body.site-nav-open {
    overflow: hidden; // prevent scrolling in body when nav is open

    .current-filter-label, .nav-open .icon-hamburger {
      opacity: 0;
      transition: 0.1s $ease;
    }
  }
}