.hero-wrap {
  position: relative;

  @include media-md {
    // padding-top: 16*$beat;
    // padding-bottom: 16*$beat;
    min-height: calc((100vw - #{$padding}) * .667); // Aspect ratio 3:2
  }

  @include media-lg {
    min-height: calc(66.67vw * .667);
  }

  @include media-xl {
    // min-height: calc((100vw - #{$sidebar-max-width}) * .667);
  }

  .row {
    @include hardware-acceleration;
    z-index: 1;
  }

  .hero-image {
    @include hardware-acceleration;
    height: 0;
    z-index: -1;
    position: relative;
    padding-bottom: $landscape-padding;


    @include media-md {
      top: 0;
      left: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}

.theater-header {
  position: relative;
  overflow: hidden;

  @include media-md {
    display: flex;
    flex-direction: column;
    min-height: calc((100vw - #{$padding})*9/16);

    .row:first-child {
      flex-grow: 1;
    }

    .theater-hero .theater-play {
      display: none;
    }
  }

  @include media-lg {
    min-height: calc((66.67vw)*9/16);
  }

  @include media-xl {
    min-height: calc((100vw - #{$sidebar-max-width})*9/16);
  }

  .row {
    @include hardware-acceleration;
    z-index: 1;
  }

  .buttons .theater-play, .buttons.theater-play-button-only {
    display: none;
    @include media-md {
      display: block;
    }
  }

  .theater-hero {
    @include hardware-acceleration;
    height: 0;
    position: relative;
    padding-bottom: 100% * 9/16; // aspect ratio block on mobile

    @include media-md { // fills wrap behind content in md+
      @include fill;
      padding: 0;
    }
  }

  .theater-cover-top, .theater-cover-bottom {
    @include hardware-acceleration;
    z-index: 1;
    transition: transform 0.2s 0.4s $ease;
  }

  &.-open {
        @include media-md {
      .theater-cover-top, .theater-cover-bottom {
        transition: transform 0.2s $ease;
      }
      .theater-cover-top {
        transform: translateY(-100%);
      }
      .theater-cover-bottom {
        transform: translateY(100%);
      }
    }
  }
}
