.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  // In special cases, particularly the person page, use float instead of flexbox
  &.-use-float {
    &,
    &.-halves {
      display: block;
      @include clearfix
      .row-block {
        float: left;

        &.-right {
          margin: 0;
          float: right;
        }
      }
    }
  }

  .row-block {
    order: 0;
    display: block;
    position: relative;

    &.last-on-sm {
      order: 1;
      @include media-md {
        order: 0;
      }
    }

    .module {
      @include media-md {
        height: 100%;
      }
    }
  }

  &.-spaced {
    .row-block:not(.top-overlap-h1):not(.top-overlap-p):not(.nospace) {
      @include media-md {
        margin-top: $padding;
      }
      @include media-lg {
        margin-top: $padding-lg;
      }
    }
  }

  &.-single {
    .row-block {
      flex-basis: 100%;
      width: 100%;
    }
  }

  &.-halves {
    .row-block {
      flex-basis: 100%;
      width: 100%;

      @include media-md {
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;
      }

      &.-right {
        @include media-md {
          margin-left: 50%;
        }
      }

      &.-double {
        @include media-md {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    }
  }

  &.-thirds {
    .row-block {
      flex-basis: 100%;
      width: 100%;

      @include min-screen($breakpoint-thirds-2col) {
        flex-basis: 50%;
        max-width: 50%;
      }

      @include min-screen($breakpoint-thirds-3col) {
        flex-basis: 33.33%;
        max-width: 33.33%;
      }
    }
  }

  &.-quarters {
    .row-block {
      flex-basis: 100%;
      width: 100%;


      @include min-screen($breakpoint-quarters-2col) {
        flex-basis: 50%;
        max-width: 50%;
      }

      @include min-screen($breakpoint-quarters-4col) {
        flex-basis: 25%;
        max-width: 25%;
      }
    }
  }

  &.-flip-order-md {
    @include media-md {
      flex-direction: row-reverse;
    }
  }
}