@mixin hr-top($color) {
  position: relative;

  &::before {
    top: 0;
    z-index: 1;
    content: '';
    height: 1px;
    left: $padding;
    right: $padding;
    position: absolute;
    background: $color;

    @include media-lg {
      left: $padding-lg;
      right: $padding-lg;
    }
  }
}

@mixin hr-bottom($color) {
  position: relative;

  &::after {
    bottom: 0;
    z-index: 1;
    content: '';
    height: 1px;
    left: $padding;
    right: $padding;
    position: absolute;
    background: $color;

    @include media-lg {
      left: $padding-lg;
      right: $padding-lg;
    }
  }
}

@each $color-key, $color in $colors {
  .hr-top-#{$color-key} {
    @include hr-top($color);
  }

  .hr-bottom-#{$color-key} {
    @include hr-bottom($color);
  }
}

.row.-separators {
  overflow: hidden;

  .row-block {
    position: relative;

    &::after, &::before {
      z-index: 1;
      content: '';
      height: 1px;
      bottom: -1px;
      left: $padding;
      right: $padding;
      position: absolute;
      background: $concrete-light;

      @include media-lg {
        left: $padding-lg;
        right: $padding-lg;
      }
    }

    &::before {
      display: none;
    }
  }

  &.-halves {
    .row-block {

      @include media-md {
        &::after {
          display: block;
          left: auto;
          width: 1px;
          right: -1px;
          height: auto;
          top: $padding;
          bottom: $padding;

          @include media-lg {
            top: $padding-lg;
            bottom: $padding-lg;
          }
        }

        &::before {
          left: calc(-100% + #{$padding});

          @include media-lg {
            left: calc(-100% + #{$padding-lg});
          }
        }

        &:nth-of-type(even) {
          &::before{ display: block; }
        }
      }
    }
  }
  &.-thirds {
    .row-block {

      @include min-screen($breakpoint-thirds-2col) {
        &::after {
          display: block;
          left: auto;
          width: 1px;
          right: -1px;
          height: auto;
          top: $padding;
          bottom: $padding;

          @include media-lg {
            top: $padding-lg;
            bottom: $padding-lg;
          }
        }

        &::before {
          left: calc(-200% + #{$padding});

          @include media-lg {
            left: calc(-200% + #{$padding-lg});
          }
        }
      }

      @include screen($breakpoint-thirds-2col, $breakpoint-thirds-3col - 1px) {
        &:nth-of-type(even){
          &::before{ display: block; }
        }
      }

      @include min-screen($breakpoint-thirds-3col) {
        &:nth-of-type(3n){
          &::before{ display: block; }
        }
      }
    }
  }
  &.-quarters {
    .row-block {

      @include min-screen($breakpoint-quarters-2col) {
        &::after {
          display: block;
          left: auto;
          width: 1px;
          right: -1px;
          height: auto;
          top: $padding;
          bottom: $padding;

          @include media-lg {
            top: $padding-lg;
            bottom: $padding-lg;
          }
        }

        &::before {
          left: calc(-300% + #{$padding});

          @include media-lg {
            left: calc(-300% + #{$padding-lg});
          }
        }
      }

      @include screen($breakpoint-quarters-2col, $breakpoint-quarters-4col - 1px) {
        &:nth-of-type(even){
          &::before{ display: block; }
        }
      }

      @include min-screen($breakpoint-quarters-4col) {
        &:nth-of-type(4n){
          &::before{ display: block; }
        }
      }
    }
  }
}

.photo-row-separators {
  overflow: hidden; // hide the final separator on each row

  .row-block {

    .module { // All the flexbox here is for when the .separate's within a row have different heights, we still want a uniform separator height
      display: flex;
      flex-direction: column;
    }

    .text {
      flex-grow: 1;
      position: relative;

      &::after {
        position: absolute;
        background: $concrete-light;
        right: -1px;
        width: 1px;
        content: '';
        top: $padding;
        bottom: $padding;

        @include media-lg {
          top: $padding-lg;
          bottom: $padding-lg;
        }
      }
    }

    &:last-of-type {
      .text::after {
        display: none
      }
    }
  }
}

.meta {
  overflow: hidden;
}
.meta-item {
  position: relative;

  &::before, &::after {
    position: absolute;
    background: $concrete-light;
    z-index: 1;
    content: '';
    height: 1px;
    top: -1px;
    left: $padding;
    right: $padding;

    @include media-lg {
      left: $padding-lg;
      right: $padding-lg;
    }
  }

  &::before {
    display: none;
  }

  @include min-screen($breakpoint-meta) {

    &::after {
      display: block;
      left: auto;
      width: 1px;
      right: -1px;
      height: auto;
      top: $padding;
      bottom: $padding;

      @include media-lg {
        top: $padding-lg;
        bottom: $padding-lg;
      }
    }

    &.-half {
      &::before {
        right: calc(-100% + #{$padding});

        @include media-lg {
          right: calc(-100% + #{$padding-lg});
        }
      }

      &:not(.-row-end) {
        &::before { display: block; }
      }
    }

     &.-full {
        &::before { display: block; }
    }
  }
}
