.text-module,
.user-content {

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.user-content {
  p, h1, h2, h3, h4, h5, h6 {
    margin-top: 1.45em;

    &:first-child {
      margin: 0;
    }
  }
  h2 { @include font-h1; }
  h3, h4, h5, h6 { @include font-h2; margin-bottom: 0; }
}