{% set projectImage = project.projectImage[0] ?? null %}

{% set projectAspectRatio = forceLandscape is not defined and projectImage ?
  (projectImage.getWidth() > projectImage.getHeight() ? 'landscape' : 'portrait') :
  'landscape' %}

{% set projectColor = (project.colorSwatch.label ?? null) ? project.colorSwatch.label|lower : 'black' %}

<article class="project module project-module bigclicky color-{{ projectColor }} zoom-hover">
  <div class="view-project">View Project <svg class="icon icon-right-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-right-arrow"/></svg></div>
  <div class="image-wrap -{{ projectAspectRatio }}">
    {% if projectImage %}
      {% set treatedImage = craft.imager.transformImage(projectImage, { width: 800 }) %}
      {% if treatedImage %}
        <div class="project-image lazy image" style="background-image: url('');" data-original="{{ treatedImage.getUrl() }}"></div>
      {% endif %}
    {% endif %}
  </div>
  <div class="project-title background-{{ projectColor }}">
    <h2 class="font-p no-margin"><a href="{{ project.getUrl }}">{{ project.projectClientName }}</a></h2>
    <h3 class="font-captions subtitle">{{ project.projectName }}</h3>
  </div>
</article>