{% set projectImage = entry.projectImage[0] ?? null %}

{% set projectAspectRatio = projectImage ?
  (projectImage.getWidth() > projectImage.getHeight() ? 'landscape' : 'portrait') :
  'landscape' %}

{% set projectColor = (entry.colorSwatch.label ?? 'black')|lower %}

<article class="project interior module project-module bigclicky" data-services="{% for service in entry.services %}{{ service.slug }} {% endfor %}" data-markets="{% for market in entry.markets %}{{ market.slug }} {% endfor %}">
  <div class="image-wrap -{{ projectAspectRatio }}">
    {% if projectImage %}
      <div class="project-image lazy image" style="background-image: url('');" data-original="{{ projectImage.getUrl('thumb') }}"></div>
    {% endif %}
  </div>
  <div class="project-title background-{{ projectColor }}">
    <h1 class="font-p"><a href="{{ entry.url }}">{{ entry.projectClientName }}</a></h1>
    <h2 class="font-captions">{{ entry.projectName }}</h2>
  </div>
</article>