{% extends (craft.app.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}
{% set bodyClass = 'single overlapping-header' %}

{% block filters %}
  <li class="filters-item">
    <a href="/expertise/">All</a>
  </li>
  {% set entryMarketIds = entry.markets.ids() %}
  {% for cat in craft.categories.group('markets').all() %}
    <li class="filters-item {% if cat.id in entryMarketIds %}current{% endif %}">
      <a href="{{ cat.url }}">{{ cat.title }}</a>
    </li>
  {% endfor %}
{% endblock %}

{% block content %}

  <article class="single-project" data-id="{{ entry.id }}">

    {% include 'partials/_secondary-header'
      with {
        'headerImage': entry.projectImage.one(),
        'headerTitle': entry.projectClientName,
        'headerSubtitle': entry.projectName,
        'headerColor': entry.colorSwatch.label,
      }
    %}


    <!-- intro -->
    <div class="row -halves secondary-page-intro">
      <div class="row-block top-overlap-{{ entry.projectTagline ? 'h1' : 'p' }}">
        <div class="page-intro module text-module background-white text-black">
          {% if entry.projectTagline %}
            <p class="font-h1 page-headline">{{ entry.projectTagline }}</p>
          {% endif %}
          <div class="user-content">{{ entry.description }}</div>
        </div>
      </div>
      <div class="row-block">
        <div class="meta background-white text-black">
          {% if entry.services | length %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Services</h3>
              <div class="content">
                <ul class="semantic-only-list">
                  {% for service in entry.services.all() %}
                    <li><a href="{{ service.url }}">{{ service.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
          {% if entry.projectLocation %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Location</h3>
              <div class="content">{{ entry.projectLocation }}</div>
            </div>
          {% endif %}
          {% if entry.projectLeedStatus %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>LEED Status</h3>
              <div class="content">{{ entry.projectLeedStatus }}</div>
            </div>
          {% endif %}
          {% if entry.projectPartners|length %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Partners</h3>
              <div class="content">
                <ul class="semantic-only-list">
                  {% for partner in entry.projectPartners.all() %}
                    <li>{{ partner.partnerName }}{{ partner.partnerName and partner.partnerRole ? ' - ' : '' }}{{ partner.partnerRole }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
          {% if entry.projectAwards|length %}
            <div class="meta-item -full">
              <h3>Awards</h3>
              <div class="content -spaced">
                <ul class="semantic-only-list">
                  {% for award in entry.projectAwards.all() %}
                    <li>{{ award.title }}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% include 'partials/_media-blocks' %}

    {% if entry.projectLeaders|length %}
      <div class="row -single margin-top">
        <div class="row-block">
          <div class="module text-module text-black">
            <h3 class="font-h2">Project Leaders</h3>
          </div>
        </div>
      </div>
      <ul class="row -quarters photo-row-separators semantic-only-list margin-bottom">
        {% for leader in entry.projectLeaders.all() %}
          {% set person = leader.aeiPerson[0] ?? null %}
          {% if person %}
            {% set personTitleOverride = leader.leaderTitle %}
            <li class="row-block">
              {% include 'people/_article' %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}

    {% set relatedPosts = craft.entries.section('impact').relatedTo({ element: entry }).limit(2) %}
    {% if relatedPosts|length < 2 %}
      {% set omitId = relatedPosts|length == 1 ? relatedPosts[0].id : 0 %}
      {% set categoryIds = entry.services.ids()|merge(entry.markets.ids()) %}
      {% set limitCriteria = craft.entries.section('impact').id('not ' ~ omitId).limit(2 - relatedPosts|length) %}
      {% set extraRelatedPosts = craft.similar.find({ element: entry, context: categoryIds, criteria: limitCriteria }) %}
      {% set relatedPosts = relatedPosts|merge(extraRelatedPosts) %}
    {% endif %}
    {% include 'partials/_related-impact'
      with {
        'relatedPosts': relatedPosts,
      }
    %}

  </article>

{% endblock %}
