{% extends (craft.app.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}
{% set bodyClass = 'single' %}
{% set projectImage = entry.projectImage.one() %}

{% block filters %}
  <li class="filters-item">
    <a href="/expertise/">All</a>
  </li>
  {% set entryMarketIds = entry.markets.ids() %}
  {% for cat in craft.categories.group('markets').all() %}
    <li class="filters-item {% if cat.id in entryMarketIds %}current{% endif %}">
      <a href="{{ cat.url }}">{{ cat.title }}</a>
    </li>
  {% endfor %}
{% endblock %}

{% block content %}
  {% cache unless currentUser %}
  <article class="content-block single-project" data-id="{{ entry.id }}">
    {% if projectImage|length %}
      <div class="project-banner" style="background-image:url({{ projectImage.getUrl() }});"></div>
    {% endif %}
    <h1 class="project-client">{{ entry.title }}</h1>
    {{ entry.subheader }}
    <h3>Services:</h3>
    {% if entry.services | length %}
      <ul>{% for service in entry.services %}
      <li><a href="{{ service.url }}">{{ service.title }}</a></li>
      {% endfor %}</ul>
    {% endif %}

    {% for block in entry.mediaBlocks %}
      {% switch block.type %}
      {% case "stat" %}

        {% if block.figure %}
          <p>Figure: {{ block.figure }}</p>
        {% endif %}
        {% if block.label %}
          <p>Label: {{ block.label }}</p>
        {% endif %}

      {% case "quote" %}

        {% if block.quote %}
          <p>Quote: {{ block.quote }}</p>
        {% endif %}
        {% if block.source %}
          <p>Source: {{ block.source }}</p>
        {% endif %}

      {% case "text" %}

        {% if block.text %}
          <p>Text: {{ block.text }}</p>
        {% endif %}

      {% case "fullWidthImage" %}

        {% if block.image|length %}
          <p>Image: {{ block.image.one().getUrl() }}</p>
        {% endif %}
        {% if block.caption %}
          <p>Caption: {{ block.caption }}</p>
        {% endif %}

      {% endswitch %}
    {% endfor %}
  </article>
  {% endcache %}
{% endblock %}
