{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set statType = craft.categories.group('statTypes').slug('projects').one() %}
{% set stats = [] %}

{% if category is defined %}
  {% set projectIdArr = category.projectIds|split(',') %}
  {% paginate craft.entries({
    section: 'projects',
    relatedTo: category,
    with: [
      'services',
      'markets',
      'projectImage'
    ]
  }).id(projectIdArr).fixedOrder().limit(20) as paginationInfo, projectEntries %}

  {% set title = category.title %}
  {% set subheader = category.body %}
  {% set seo_description = category.body|striptags %}
  {% set stats = craft.entries.section('stats').relatedTo(category).orderBy('RAND()').limit(2).all() %}

  {# Find Market Contacts and Offices #}
  {% set marketContactsIds = category.marketContacts.ids() %}
  {% if marketContactsIds|length %}
    {% set marketContacts = craft.entries({
      section: 'people',
      with: [ 'office' ],
      id: marketContactsIds,
    }) %}
    {% set marketContactsOffices = craft.entries.section('offices').relatedTo({ sourceElement: marketContactsIds, field: 'office' }) %}
  {% endif %}


{% else %}

  {% paginate craft.entries({
    section: 'projects',
    with: [
      'services',
      'markets',
      'projectImage'
    ]
  }).limit(20) as paginationInfo, projectEntries %}

  {% set subheader = entry.body %}
  {% set stats = craft.entries.section('stats').relatedTo(statType).orderBy('RAND()').limit(2).all() %}

{% endif %}

{% block filters %}
  <h2 class="font-nav {{ (category is not defined) ? 'current' : '' }}"><a href="/markets/">Markets</a></h2>
  <ul class="filters semantic-only-list">
    {% for cat in craft.categories.group('markets').all() %}
      <li class="{{ active(cat.getUrl(), 'url', 'current') }}">
        <a href="{{ cat.getUrl() }}">{{ cat.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{# For clarity/DRY sake, save the intro module to a variable. #}
{% set introModule %}
  {% if not craft.app.request.isAjax %}
    <div class="module text-module">
      <div class="font-h1 user-content">{{ subheader }}</div>
      <div class="buttons">
        {% if category is defined and marketContactsIds|length %}
          <button class="contact-modal-open button">
            <span class="border"></span><span class="extra-corners"></span>
            Contacts
            <svg class="icon icon-plus"><use xlink:href="#icon-plus" /></svg>
          </button>
        {% endif %}
        <a class="button" href="/about/awards/{{ category is defined ? '?market=' ~ category.slug : '' }}">
          <span class="border"></span><span class="extra-corners"></span>
          Awards
          <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
        </a>

      </div>

      <div class="mobile-filter">
        <div class="filter-header">
          Filter:
          <span>{{ category is defined ? category.title : 'All' }}</span>
          <svg class="icon icon-up-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-up-arrow"/></svg>
        </div>
        <ul class="filters semantic-only-list">
          <li class="{{ category is defined ? '' : 'current' }}">
            <a href="/markets/">All</a>
          </li>
          {% for cat in craft.categories.group('markets').all() %}
            <li class="{{ active(cat.getUrl(), 'url', 'current') }}">
              <a href="{{ cat.getUrl() }}">{{ cat.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

    </div>

    {# Any Market Contacts? Show grouped by Office #}
    {% if category is defined and marketContactsIds|length %}
      <div class="modal background-white text-black pad -unloaded" id="contact-modal">
        <h2 class="title">{{ category.title }} Contacts</h2>
        <ul class="offices semantic-only-list">
        {% for office in marketContactsOffices.all() %}
          <li class="office">
            <h3 class="office-title">{{ office.title }}</h2>

            <ul class="contacts semantic-only-list font-details">

              {% for person in marketContacts.all() %}
                {% set personOffice = person.office[0] ?? null %}
                {% if personOffice and personOffice.id == office.id %}
                  <li class="contact">
                    <a href="{{ person.getUrl() }}">{{ person.title }}</a><br/>
                    {% if person.phoneNumber %}
                      {{ person.phoneNumber }}<br/>
                    {% endif %}
                    {% if person.email %}
                      <a href="mailto:{{ person.email }}">
                        {% for part in person.email|split('@') %}
                          <span class="email-part">{{ part }}{{ loop.index0==0 ? '@' : '' }}</span>
                        {% endfor %}
                      </a>
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}

            </ul>
          </li>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}{# End if not AJAX #}
{% endset %}


{% block content %}
  {# Top row: project text and first project (wrapped so they can visually align) #}
  <div class="row -halves">
    <div class="row-block intro-block">
      {{ introModule }}
    </div>
    {% set project = projectEntries ? projectEntries[0] : false %}
    {% if project %}
      <div class="row-block">
        {% include 'projects/_article' with { 'forceLandscape': 1 } %}
      </div>
    {% endif %}
  </div>

  {# All of the rest of the projects in masonry #}
  <div class="masonry-grid">
    <div class="masonry-sizer"></div>
    <ul class="semantic-only-list infinite-scroll-container">
      {% for project in projectEntries %}
        {% if loop.index > 1 %}
          {% if loop.index in ['3','7'] and stats|length %}
            <li class="masonry-item -force-aspect">
              {% include 'partials/media-blocks/_stat' with { 'block': stats|last } %}
              {% set stats = stats|slice(0,-1) %}
            </li>
          {% endif %}
          <li class="masonry-item infinite-scroll-object">
            {% include 'projects/_article' %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  {% include 'partials/_pagination-lists' %}

{% endblock %}