$breakpoint-table-pad: 950px;
$breakpoint-table: $breakpoint-md;

.award-table {
  padding: 0 $padding;

  table {

    td, th {
      display: block;
      margin: $padding/2 0;

        &:first-child {
          margin-top: $padding;
        }

        &:last-child {
          margin-bottom: $padding;
        }

      @include min-screen($breakpoint-table) {
        margin: 0;

        display: table-cell;
        vertical-align: top;

        &:first-child {
          margin: 0;
          padding-left: 0;
        }

        &:last-child {
          margin: 0;
          padding-right: 0;
        }
      }
    }

    thead {

      th {
        @include font-details;
        text-align: left;
        color: $concrete-light;

        @include min-screen($breakpoint-table) {
          padding: 14px $padding/2;
        }

        @include min-screen($breakpoint-table-pad) {
          padding: 14px $padding;
        }

        .icon {
          width: 7px;
          height: 9px;
          fill: $concrete-light;
        }

        &.year {
          white-space: nowrap
        }
      }

      tr {
        border-bottom: $black 1px solid;
      }
    }

    tbody {

      td {
        @include min-screen($breakpoint-table) {
          padding: $padding $padding/2;
        }

        @include min-screen($breakpoint-table-pad) {
          padding: $padding $padding;
        }
      }

      tr {
        border-bottom: $off-white 1px solid;
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}

table.sortable {
  .header {
    cursor: pointer;
  }
  .headerSortDown, .headerSortUp {
    color: $red;
    .icon {
      fill: $red;
    }
  }
  .icon-down-arrow {
    transition: transform .2s $ease;
  }
  .headerSortUp {
    .icon-down-arrow {
      transform: scaleY(-1);
    }
  }
}