// Homepage styles

.page-home {
  .featured-project {
    .project-title {
      margin-bottom: $beat*3;
    }
  }
  .theater-header {
    // Temporary 40th anniversary stamp
    .stamp {
      display: block;
      position: absolute;
      top: $padding-sm;
      right: $padding-sm;
      width: 25%;
      height: auto;
      @include media-md {
        top: $padding-md;
        right: $padding-md;
        width: 15%;
      }
      @include media-lg {
        top: $padding-lg;
        right: $padding-lg;
      }
    }
  }

  @include media-md {
    .theater-header {
      .text-module {
        @include font-smoothing;
        color: $white;
      }
    }
    // Featured news blocks have double padding on top/bottom
    .featured-news {
      .row-block.separate::after {
        top: $padding-md * 2;
        bottom: $padding-md * 2;
      }
      .post-module {
        padding-top: $padding-md * 2;
        padding-bottom: #{$padding-md * 2 + 37px};
        .button {
          bottom: #{$padding-md * 2};
        }
      }
    }
    .featured-project {
      .project-title {
        margin: 0;
      }
      display: flex;
      flex-wrap: wrap;
      p,
      .buttons {
        width: 100%;
        flex-basis: 100%;
      }
      .buttons {
        margin-top: auto;
        .button {
          margin-top: $beat;
          float: right;
          margin-right: 0;
        }
      }
    }
  }

  @include media-lg {
    // Featured news blocks have double padding on top/bottom
    .featured-news {
      .row-block.separate::after {
        top: $padding-lg * 2;
        bottom: $padding-lg * 2;
      }
      .post-module {
        padding-top: $padding-lg * 2;
        padding-bottom: #{$padding-lg * 2 + 37px};
        .button {
          bottom: #{$padding-lg * 2};
        }
      }
    }
  }
}
