.page-impact {
  .featured-post-block {
    .category {
      color: $off-white;
    }
  }
}

.page-expertise {
  .masonry-grid {
    .intro-block {
      @include media-md {
        min-height: calc( (100vw - #{$padding})/2*(2/3) );
      }
      @include media-lg {
        min-height: calc( 100vw/3*(2/3) );
      }
    }
  }
}

.page-offices {
  .page-intro {
    .buttons {
      @include media-md {
        margin-top: 76px;
      }
    }
  }
}