.page-impact {
  .featured-post-block {
    .category {
      color: $off-white;
    }
  }
  .row .row-block {
    .module {
      &.stat-two-figure-module {
        min-height: 100%;
      }
    }
  }
}

.page-expertise {

  .intro-block {
    position: relative;
  }

  .masonry-grid {
    .intro-block {
      @include media-md {
        min-height: calc( (100vw - #{$padding})/2*(2/3) );
      }
      @include media-lg {
        min-height: calc( 100vw/3*(2/3) );
      }
      @include media-xl {
        min-height: calc( (100vw - #{$sidebar-max-width})/2*(2/3) );
      }
    }
  }
}

.page-offices {
  .page-intro {
    .buttons {
      @include media-md {
        margin-top: 76px;
      }
    }
    .quote-carousel {
      margin-bottom: $padding;
      @include media-lg {
        margin-bottom: 66px;
      }
    }
  }
}

.pagination {
  display: none;
}

.page-home, .page-expertise, .page-approach, .page-careers, .page-people.white-header {
  .site-header {
    .lockup-block {
      padding-bottom: 0;
    }
  }
}
