// Services styles

#services {
  margin-top: $padding;
  @include media-lg {
    margin-top: $padding-lg;
  }
}

.page-services {
	.child-services {
		margin-top: $padding-sm;
	}
  .mobile-filter.single-entry {
    padding-top: 0;
  }
}