<footer class="site-footer">
  <div class="wrapper">
    <div class="social footer-block">
      <ul class="social-list">
        {% for socialLink in siteSettings.socialLinks.all() %}
          <li class="social-list-item">
            <a href="{{ socialLink.socialUrl }}" target="_blank"><svg class="icon icon-{{ socialLink.socialNetwork|lower }}"><use xlink:href="#icon-{{ socialLink.socialNetwork|lower }}" /></svg> {{ socialLink.socialNetwork }}</a>
          </li>
        {% endfor %}
      </ul>
  </div>
  </div>
  <div class="copyright footer-block">&copy;{{ "now"|date("Y") }} Affiliated Engineers, Inc.</div>
</footer>

<script>
  var addthis_config = {
    'pubid': '{{ getenv('ADDTHIS_PUBID') }}',
    "services_compact": 'twitter,facebook,linkedin,pinterest,email',
    "ui_cobrand": 'AEI',
    "ui_508_compliant": true,
    "data_ga_property": '{{ getenv('GA_PROPERTY') }}',
    "data_ga_social": true
  };
</script>
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ getenv('ADDTHIS_PUBID') }}"></script>
<script src="{{ rev('js/main.js') }}"></script>
