<header id="sticky-header" class="site-header">
  <div class="lockup-block">
    <a class="lockup" href="/">
      <div class="affiliated-engineers">
        <h1 class="sr-only">{{ siteName }}</h1>
        <svg class="logo"><use xlink:href="#affiliated-engineers-logo" /></svg>
      </div>
    </a>
  </div>

  <nav class="site-nav">
    <ul class="secondary-links links-block">
      {% if entry is defined and entry.isEditable() %}
        <li class="secondary-links-item edit-link"><a href="{{ entry.cpEditUrl ~ '?redirect=' ~ craft.app.request.getUrl()|url_encode }}">Edit Entry</a></li>
      {% endif %}
      <li class="{{ active('/about/', 'url', 'current') }}">
        <a href="/about/">About</a>
      </li>
      <li class="{{ active('/about/careers/', 'url', 'current') }}">
        <a href="/about/careers/">Careers</a>
      </li>
      <li class="{{ active('/contact/', 'url', 'current') }}">
        <a href="/contact/">Contact</a>
      </li>
      <li class="search-open">
        <a href="/search/">Search<svg class="icon-search"><use xlink:href="#icon-search" /></svg></a>
      </li>
    </ul>

    <ul class="primary-links semantic-only-list nav-content">
      {% for navItem in [
        { title: 'Projects', slug: 'projects', urlMatches: 'projects' },
        { title: 'Services', slug: 'services', urlMatches: 'services|offices|awards' },
        { title: 'People', slug: 'people', urlMatches: 'people' },
        { title: 'News & Insights', slug: 'news', urlMatches: 'news' },
      ] %}
        <li class="{{ active(navItem.urlMatches, 1, 'current') }}">
          <a href="/{{ navItem.slug }}/">{{ navItem.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <div class="nav-open"><svg class="icon-hamburger"><use xlink:href="#icon-hamburger" /></svg></div>
  <div class="nav-close"><svg class="icon-x"><use xlink:href="#icon-x" /></svg></div>
</header>