{% if entry.mediaBlocks|length %}
    {% for block in entry.mediaBlocks.all() %}

      {% set doubleWidth =
        (block.width ?? null)=='full'
        or block.type=='header'
        or block.type=='video'
        or block.type=='linkGrid'
      %}

      <div class="row-block {{ doubleWidth ? '-double' : '' }}">
        {% switch block.type %}
        {% case "stat" %}
          {% include 'partials/media-blocks/_stat' %}
        {% case "quotes" %}
          {% include 'partials/media-blocks/_quotes' %}
        {% case "text" %}
          {% include 'partials/media-blocks/_text' %}
        {% case "image" %}
          {% include 'partials/media-blocks/_image' %}
        {% case "header" %}
          {% include 'partials/media-blocks/_header' %}
        {% case "video" %}
          {% include 'partials/media-blocks/_video' %}
        {% case "linkGrid" %}
          {% include 'partials/media-blocks/_link-grid' %}
        {% case "entriesList" %}
          {% include 'partials/media-blocks/_entries-list' %}
        {% endswitch %}
      </div>

    {% endfor %}
{% endif %}