{% if entry.mediaBlocks|length %}
<div class="row -halves -spaced background-white text-black">
    {% for block in entry.mediaBlocks.all() %}
      <div class="row-block {{ (block.width ?? null)=='full'  ? '-double' : '' }}">
        {% switch block.type %}
        {% case "stat" %}
          {% include 'partials/media-blocks/_stat' %}
        {% case "quotes" %}
          {% include 'partials/media-blocks/_quotes' %}
        {% case "text" %}
          {% include 'partials/media-blocks/_text' %}
        {% case "image" %}
          {% include 'partials/media-blocks/_image' %}
        {% endswitch %}
      </div>
    {% endfor %}
  </div>
{% endif %}