<nav class="site-nav" role="navigation">

  <div class="lockup bigclicky">
    <div class="affiliated-engineers">
      <h1 class="sr-only"><a href="/">{{ siteName }}</a></h1>
      <svg class="logo"><use xlink:href="#affiliated-engineers-logo" /></svg>
    </div>
    <ul class="plan-design-commission">
      <li>Plan</li>
      <li>Design</li>
      <li>Commission</li>
    </ul>
  </div>

  <ul class="primary-links semantic-only-list">
    <li class="primary-links-item {{ active('expertise') }}">
      <a href="/expertise/">Expertise</a>
    </li>
    <li class="primary-links-item {{ active('impact') }}">
      <a href="/impact/">Impact</a>
    </li>
    <li class="primary-links-item {{ active('approach') }}">
      <a href="/approach/">Approach</a>
    </li>
    <li class="primary-links-item {{ active('people') }}">
      <a href="/people/">People</a>
    </li>
  </ul>

  <ul class="filters semantic-only-list">
    {% if filters is defined %}
      {% for filter in filters %}
        <li class="filters-item {% if page.url in filter.path %} current{% endif %}">
          <a href="{{ filter.path }}">{{ filter.title }}</a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>

  <ul class="secondary-links semantic-only-list">
    <li class="secondary-links-item {{ active('careers') }}">
      <a href="/careers/">Careers</a>
    </li>
    <li class="secondary-links-item {{ active('contact') }}">
      <a href="/contact/">Contact</a>
    </li>
  </ul>

  <div class="search-open">
    Search <svg class="icon-search"><use xlink:href="#icon-search" /></svg>
  </div>
</nav>

<div class="nav-open"><svg class="icon-hamburger"><use xlink:href="#icon-hamburger" /></svg></div>
<div class="nav-close"><svg class="icon-x"><use xlink:href="#icon-x" /></svg></div>