{% if entry['pageHeader'] is defined %}
  {% for block in entry.pageHeader.all() %}
    <div class="row top-row">
      <div class="row-block">
        <div class="module text-module background-white text-black">
          <p class="font-h1">{{ block.subheader }}</p>
          <div class="buttons">
            <button class="contacts-open button">
              <span class="border"></span><span class="extra-corners"></span>
              Contacts
              <svg class="icon icon-plus "><use xlink:href="#icon-plus" /></svg>
            </button>
            <a class="button" href="/awards/">
              <span class="border"></span><span class="extra-corners"></span>
              Awards
              <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
