{% if relatedPosts|length %}
  <section id="related-impact" class="related-posts">
    <div class="row -single">
      <div class="row-block">
        <div class="module text-module ">
          <h3 class="font-h2">News &amp; Insights</h3>
        </div>
      </div>
    </div>
    <ul class="row -halves semantic-only-list">
      {% for post in relatedPosts %}
        <li class="row-block separate">
          {% include 'news/_article' %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}