{% if query is not defined %}
	{% set query = '' %}
{% endif %}
<form action="{{ url('search') }}" class="search-form">
  <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="search" value="{{ query }}" name="q" class="search-field form-control" placeholder="Search" required>
  <button type="submit" class="button">
    <span class="border"></span><span class="extra-corners"></span>
    Search
    <svg class="icon icon-search"><use xlink:href="#icon-search" /></svg>
  </button>
</form>