<!-- header -->
<div class="hero-wrap">
  <div class="hero-image image-wrap">
    {% if headerImage %}
      {% set treatedImage = craft.imager.transformImage(headerImage, { width: 1600 }) %}
      {% if treatedImage %}
        <div class="lazy image" style="background-image: url('');" data-original="{{ treatedImage.getUrl() }}"></div>
      {% endif %}
    {% endif %}
  </div>
  <div class="row -halves">
    <div class="row-block -right">
      <div class="module text-module background-{{ (headerColor ?? null) ? headerColor|lower : 'black' }} text-white font-smoothing">
        <h1 class="font-h2 no-margin">{{ headerTitle }}</h1>
        {% if headerSubtitle ?? false %}<h2 class="font-details no-margin">{{ headerSubtitle }}</h2>{% endif %}
      </div>
    </div>
  </div>
</div>