{% if pageHeader.headerVideo %}
  {% set ytregex1 = '/^(?:https?:\\/\\/)?(?:www\.)?(?:youtu\.be\\/|youtube\.com)(?:\\/embed\\/|\\/v\\/|\\/watch\\?v=||\\/watch\\\?.+&v=)/' %}
  {% set ytregexTrailingSlash = '/(\\/)$/' %}
  {% set ytregexTrailingVariables = '/(&+.*)/' %}
  {% set youtubeid = pageHeader.headerVideo | replace(ytregex1, '') | replace(ytregexTrailingSlash, '') | replace(ytregexTrailingVariables, '') %}
{% endif %}
{% set headerImage = pageHeader.headerImage.one() %}
{% set videoButton = pageHeader.headerVideo ? '<button class="button -solid theater-play text-white background-red absolute-center">Play Video<svg class="icon icon-triangle"><use xlink:href="#icon-triangle" /></svg></button>' : '' %}

<!-- checkerboard header w/ optional theater -->
<div class="theater-header theater-wrap -closed">
  <div class="row -halves theater-cover-top">
    <div class="row-block">
      <div class="module text-module {% if clearheader is not defined %}background-white text-black{% endif %}">
        <div class="user-content">
          <p class="font-h1">{{ pageHeader.subheader }}</p>
        </div>
        <div class="buttons {% if entry is defined %}{{ entry.slug == 'approach' or entry.slug == 'careers' ? '' : 'theater-play-button-only' }}{% endif %}">
          {% if pageHeader.headerVideo %}
            <button class="button -solid theater-play text-white background-red">Play Video<svg class="icon icon-triangle"><use xlink:href="#icon-triangle" /></svg></button>
          {% endif %}
          {% if entry is defined and entry.slug == 'careers' %}
            <a rel="noopener" target="_blank" href="https://domestic-aeieng.icims.com/" class="button">
              <span class="border"></span><span class="extra-corners"></span>
              Search Jobs
              <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="theater-hero theater image-wrap">
    {% if headerImage %}
      {% if 'video' in headerImage.getMimeType() %}
        <video class="background-video" playsinline autoplay muted loop>
          {{ videoButton|raw }}
          <source src="{{ headerImage.getUrl() }}" type="{{ headerImage.getMimeType() }}">
        </video>
      {% else %}
        {% set treatedImage = craft.imager.transformImage(headerImage, { width: 1600 }) %}
        {% if treatedImage %}
          <div class="image lazy" style="background-image: url(); background-position: center {{ headerImage.getFocalPoint()['y'] * 100 }}%" data-original="{{ treatedImage.getUrl() }}">
            {{ videoButton|raw }}
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if pageHeader.headerVideo %}
      <div class="player-wrap fluid-width-video-wrapper fill">
        <div class="player" data-youtube-id="{{ youtubeid }}"></div>
        <div class="theater-stop"><svg class="icon icon-x"><use xlink:href="#icon-x" /></svg></div>
      </div>
    {% endif %}
  </div>
  <div class="row -halves theater-cover-bottom">
    <div class="row-block -right">
      <div class="text-module background-black text-white font-smoothing">
        <div class="user-content">{{ pageHeader.supportingStatement }}</div>
      </div>
    </div>
  </div>
</div>
