{% if pageHeader.headerVideo %}
  {% set ytregex1 = '/^(?:https?:\\/\\/)?(?:www\.)?(?:youtu\.be\\/|youtube\.com)(?:\\/embed\\/|\\/v\\/|\\/watch\\?v=||\\/watch\\\?.+&v=)/' %}
  {% set ytregexTrailingSlash = '/(\\/)$/' %}
  {% set ytregexTrailingVariables = '/(&+.*)/' %}
  {% set youtubeid = pageHeader.headerVideo | replace(ytregex1, '') | replace(ytregexTrailingSlash, '') | replace(ytregexTrailingVariables, '') %}
{% endif %}

<!-- checkerboard header w/ optional theater -->
<div class="theater-header theater-wrap -closed">
  <div class="row -halves theater-cover-top">
    <div class="row-block pull-to-top-h1">
      <div class="module text-module background-white text-black">
        <div class="user-content">
          <p class="font-h1">{{ pageHeader.subheader }}</p>
        </div>
        <div class="buttons {{ entry.slug == 'approach' or entry.slug == 'careers' ? '' : 'theater-play-button-only' }}">
          {% if pageHeader.headerVideo %}
            <button class="button theater-play">
              <span class="border"></span><span class="extra-corners"></span>
              Play Video
              <svg class="icon icon-triangle"><use xlink:href="#icon-triangle" /></svg>
            </button>
          {% endif %}
          {% if entry.slug == 'approach' %}
            <a href="#services" class="button smoothscroll">
              <span class="border"></span><span class="extra-corners"></span>
              Services
              <svg class="icon icon-down-arrow"><use xlink:href="#icon-down-arrow" /></svg>
            </a>
            <a href="#locations" class="button smoothscroll">
              <span class="border"></span><span class="extra-corners"></span>
              Locations
              <svg class="icon icon-down-arrow"><use xlink:href="#icon-down-arrow" /></svg>
            </a>
          {% endif %}
          {% if entry.slug == 'careers' %}
            <a href="https://domestic-aeieng.icims.com/" class="button">
              <span class="border"></span><span class="extra-corners"></span>
              Search Jobs
              <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="theater-hero theater image-wrap">
    {% set headerImage = pageHeader.headerImage.one() %}
    <div class="image lazy" style="background-image: url();" data-original="{{ headerImage ? headerImage.getUrl('header') : '' }}">
      {% if pageHeader.headerVideo %}
        <button class="button -solid theater-play text-off-white background-red absolute-center">Play Video<svg class="icon icon-triangle"><use xlink:href="#icon-triangle" /></svg></button>
      {% endif %}
    </div>
    {% if pageHeader.headerVideo %}
      <div class="player-wrap fluid-width-video-wrapper fill">
        <div class="player" data-youtube-id="{{ youtubeid }}"></div>
        <div class="theater-stop"><svg class="icon icon-x"><use xlink:href="#icon-x" /></svg></div>
      </div>
    {% endif %}
  </div>
  <div class="row -halves theater-cover-bottom">
    <div class="row-block -right">
      <div class="text-module background-black text-off-white font-smoothing">
        <div class="user-content">{{ pageHeader.supportingStatement }}</div>
      </div>
    </div>
  </div>
</div>



