{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Color Swatches field
 */
#}

{% import "_includes/forms" as forms %}

<div class="color-swatches-options">
    {{ forms.editableTable(config) }}
</div>
