{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = 'Awards' %}
{% set bodyClass = 'white-header' %}

{% block content %}

<div class="row -halves">
  <div class="row-block pull-to-top-h1">
    <div class="module text-module">
      <div class="font-h1 no-margin user-content">{{ entry.body }}</div>
    </div>
  </div>
</div>

<div class="award-table margin-bottom">
  <table class="sortable">
    <thead>
      <th>Awards &amp; Recognitions <svg class="icon icon-down-arrow"><use xlink:href="#icon-down-arrow" /></svg></th>
      <th class="year">Year <svg class="icon icon-down-arrow"><use xlink:href="#icon-down-arrow" /></svg></th>
      <th>Project <svg class="icon icon-down-arrow"><use xlink:href="#icon-down-arrow" /></svg></th>
    </thead>
    <tbody>
      {% for award in craft.entries.section('awards').orderBy('title asc').all() %}
        <tr>
          <td>{{ award.title }}{{ award.title and award.awardIssuer ? ' - ' : ''}}{{ award.awardIssuer }}</td>
          <td>{{ award.awardDate|date('Y') }}</td>

          {% set project = craft.entries.section('projects').relatedTo({ element: award }).one() %}

            {% if project %}
              <td><a href="{{ project.url }}">{{ project.title }}</a></td>
            {% endif %}

        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
