{% extends (craft.app.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}

  <h3>Services</h3>
  {{ entry.servicesDescription }}
  {% for cat in craft.categories.group('services').all() %}
    <li>
      <a href="{{ cat.url }}">{{ cat.title }}</a>
    </li>
  {% endfor %}

  <h3>Locations</h3>
  {{ entry.locationsDescription }}
  {% for entry in craft.entries.section('offices').all() %}
    <li>
      <a href="{{ entry.url }}">{{ entry.title }}</a>
    </li>
  {% endfor %}

{% endblock %}
