{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}
{% set bodyClass = 'single' %}

  {% for pageHeader in entry.pageHeader.all() %}
    {% include '/partials/_theater-header' %}
  {% endfor %}

  <section id="services">
    <!-- service section header -->
    <div class="row -halves pad-vertical  ">
      <div class="row-block">
        <div class="module text-module">
          <h2 class="font-h1">Services</h2>
        </div>
      </div>
      <div class="row-block">
        <div class="module text-module">
          <div class="user-content">{{ entry.servicesDescription }}</div>
        </div>
      </div>
    </div>

    <!-- services -quarters -->
    <ul class="row -quarters photo-row-separators semantic-only-list  big-margin-bottom">
    {% for service in craft.categories.group('services').orderBy('title asc').all() %}
      <li class="row-block">
        {% include 'services/_article' %}
      </li>
    {% endfor %}
    </ul>
  </section>

  <section id="locations" class="big-margin-vertical">
    <!-- location section header -->
    <div class="row -halves pad-vertical   hr-top-black">
      <div class="row-block">
        <div class="module text-module">
          <h2 class="font-h1">Locations</h2>
        </div>
      </div>
      <div class="row-block">
        <div class="module text-module">
          <div class="user-content">{{ entry.locationsDescription }}</div>
        </div>
      </div>
    </div>

    <!-- locations -quarters -->
    <ul class="row -quarters photo-row-separators semantic-only-list ">
      {% for office in craft.entries.section('offices').orderBy('title asc').all() %}
        <li class="row-block">
          {% include 'offices/_article' %}
        </li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}