{% extends (craft.app.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}
{% set bodyClass = 'single' %}

  <!-- checkerboard header (no theater) -->
  {% for pageHeader in entry.pageHeader.all() %}
    <div class="checkerboard-header">
      <div class="row -halves">
        <div class="row-block pull-to-top-h1">
          <div class="module text-module background-white text-black">
            <p class="font-h1">{{ pageHeader.subheader }}</p>
            <div class="buttons show-md">
              <a href="#services" class="button smoothscroll">
                <span class="border"></span><span class="extra-corners"></span>
                Services
                <svg class="icon icon-down-arrow"><use xlink:href="#icon-down-arrow" /></svg>
              </a>
              <a href="#locations" class="button smoothscroll">
                <span class="border"></span><span class="extra-corners"></span>
                Locations
                <svg class="icon icon-down-arrow"><use xlink:href="#icon-down-arrow" /></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
        <div class="checkerboard-hero image-wrap">
          {% set headerImage = pageHeader.headerImage.one() %}
          {% if headerImage %}
              <div class="image lazy" style="background-image: url();" data-original="{{ headerImage.getUrl('header') }}"></div>
          {% endif %}
        </div>
      <div class="row -halves">
        <div class="row-block -right">
          <div class="text-module background-black text-off-white font-smoothing">
            <div class="user-content">{{ pageHeader.supportingStatement }}</div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- service section header -->
  <div class="row -halves pad-vertical background-white text-black" id="services">
    <div class="row-block">
      <div class="module text-module">
        <h2 class="font-h1">Services</h2>
      </div>
    </div>
    <div class="row-block">
      <div class="module text-module">
        <div class="user-content">{{ entry.servicesDescription }}</div>
      </div>
    </div>
  </div>

  <!-- services -quarters -->
  <ul class="row -quarters photo-row-separators semantic-only-list background-white big-margin-bottom">
  {% for service in craft.categories.group('services').all() %}
    <li class="row-block">
      {% include 'partials/_article-service' %}
    </li>
  {% endfor %}
  </ul>

  <!-- location section header -->
  <div class="row -halves pad-vertical background-white text-black hr-top-black" id="locations">
    <div class="row-block">
      <div class="module text-module">
        <h2 class="font-h1">Locations</h2>
      </div>
    </div>
    <div class="row-block">
      <div class="module text-module">
        <div class="user-content">{{ entry.locationsDescription }}</div>
      </div>
    </div>
  </div>

  <!-- locations -quarters -->
  <ul class="row -quarters photo-row-separators semantic-only-list background-white big-margin-bottom">
    {% for office in craft.entries.section('offices').all() %}
      <li class="row-block">
        {% include 'offices/_article' %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}