{% extends (craft.app.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bodyClass = 'overlapping-header' %}
{% set impactType = entry.impactType.one() %}
{% set impactAuthor = entry.impactAuthor.one() %}

{% block filters %}
  <li class="filters-item">
    <a href="/impact/">All</a>
  </li>
  {% for cat in craft.categories.group('impactTypes').all() %}
    <li class="filters-item {% if cat.id == impactType.id %}current{% endif %}">
      <a href="{{ cat.url }}">{{ cat.title }}</a>
    </li>
  {% endfor %}
{% endblock %}

{% block content %}
  <article class="single-impact" data-id="{{ entry.id }}">
    {% set header = {
      image: entry.impactImage.one(),
      title: entry.title
    } %}
    {% include 'partials/_secondary-header' %}

    <!-- intro -->
    <div class="row -halves secondary-page-intro">
      <div class="row-block top-overlap-p">
        <div class="page-intro module text-module background-white text-black">
          <div class="user-content">{{ entry.description }}</div>
        </div>
      </div>
      <div class="row-block">
        <div class="meta background-white text-black">
          {% if impactType.slug == 'conferences-presentations' %}

            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Conference</h3>
              <div class="content">
                {% if entry.conferenceUrl %}<a target="_blank" href="{{ entry.conferenceUrl }}">{% endif %}{{ entry.title }}{% if entry.conferenceUrl %}</a>{% endif %}
              </div>
            </div>
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              {% if entry.endDate and entry.startDate != entry.endDate %}
                <h3>Dates</h3>
                <div class="content">
                  {{ entry.startDate|date('m/d/y') }} – {{ entry.endDate|date('m/d/y') }}
                </div>
              {% else %}
                <h3>Date</h3>
                <div class="content">
                  {{ entry.startDate|date('m/d/y') }}
                </div>
              {% endif %}
            </div>
            {% if entry.conferenceHost %}
              <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
                <h3>Host</h3>
                <div class="content">
                  {{ entry.conferenceHost }}
                </div>
              </div>
            {% endif %}

            {% set sessions = entry.impactSessions.all() %}
            {% if sessions|length %}
              <div class="meta-item -full">
                <h3>Sessions</h3>
                <div class="content -spaced">
                  <ul class="semantic-only-list">
                    {% for session in sessions %}
                      <li>
                        {{ session.sessionName }}
                        <br>{{ session.sessionDate|date('m/d/y') }}
                        {% set sessionTime = session.sessionDate|date('ga') %}
                        {% if sessionTime != '12am' %}
                          @ {{ sessionTime }}
                        {% endif %}
                        {% for person in session.people %}
                          <br>Presented by:
                          {% set aeiPerson = person.person.one() %}
                          {% if aeiPerson %}
                            <a href="{{ aeiPerson.getUrl() }}">{{ aeiPerson.title }}</a>
                          {% else %}
                            {{ person.personName }}
                            {% if person.personCompany %}
                              {{ person.personCompany }}
                            {% endif %}
                          {% endif %}
                        {% endfor %}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endif %}

          {% else %}

            {% if impactAuthor %}
              <div class="meta-item -full">
                <h3>Author</h3>
                <div class="content">
                  <a href="{{ impactAuthor.getUrl() }}">{{ impactAuthor.title }}</a>
                </div>
              </div>
            {% endif %}

            <div class="meta-item -full">
              <h3>Post Date</h3>
              <div class="content">{{ entry.postDate|date('m/d/y') }}</div>
            </div>

            {% if entry.impactPublication %}
              <div class="meta-item -full {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
                <h3>Publication</h3>
                <div class="content">
                  {% if entry.impactPublicationUrl %}<a target="_blank" href="{{ entry.impactPublicationUrl }}">{% endif %}{{ entry.impactPublication }}{% if entry.impactPublicationUrl %}</a>{% endif %}
                </div>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>

    {% include 'partials/_media-blocks' %}

    <div class="row -single margin-top">
      <div class="row-block">
        <div class="module text-module text-black">
          <h3 class="font-h2">Related Impact</h3>
        </div>
      </div>
    </div>
    {% set limitCriteria = craft.entries.section('impact').limit(2) %}
    {% set relatedImpactEntries = craft.similar.find({ element: entry, context: entry.impactType, criteria: limitCriteria }) %}
    <ul class="row -halves -separators semantic-only-list hr-top-off-white hr-bottom-off-white margin-bottom">
      {% for post in relatedImpactEntries %}
        <li class="row-block background-white text-black separate">
          {% include 'impact/_article' %}
        </li>
      {% endfor %}
      {% if relatedImpactEntries|length < 2 %}
        {% set omitId = relatedImpactEntries|length == 1 ? relatedImpactEntries[0].id : 0 %}
        {% for post in craft.entries.section('impact').id('not ' ~ omitId).limit(2 - relatedImpactEntries|length).all() %}
          <li class="row-block background-white text-black separate">
            {% include 'impact/_article' %}
          </li>
        {% endfor %}
      {% endif %}
    </ul>

  </article>

{% endblock %}
