{% extends (craft.app.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set bodyClass = 'overlapping-header' %}

{% if category is defined %}

  {% set featuredImpact = craft.entries.section('impact').relatedTo(category).featured(1).orderBy('RAND()').one() ?? craft.entries.section('impact').relatedTo(category).one() %}

  {% set omitId = featuredImpact ? featuredImpact.id : 0 %}

  {% paginate craft.entries({
    section: 'impact',
    relatedTo: category,
    with: [
      'impactImage'
    ]
  }).id('not ' ~ omitId).limit(5) as paginationInfo, impactEntries %}

{% else %}

	{% set featuredImpact = craft.entries.section('impact').featured(1).orderBy('RAND()').one() ?? craft.entries.section('impact').one() %}
	{% set omitId = featuredImpact ? featuredImpact.id : 0 %}

  {% paginate craft.entries({
    section: 'impact',
    with: [
      'impactImage'
    ]
  }).id('not ' ~ omitId).limit(5) as paginationInfo, impactEntries %}

{% endif %}

{% block filters %}
  <li class="filters-item {{ (category is not defined) ? 'current' : '' }}">
    <a href="/impact/">All</a>
  </li>
  {% for cat in craft.categories.group('impactTypes').all() %}
    <li class="filters-item {{ active(cat.url, 'url', 'current') }}">
      <a href="{{ cat.url }}">{{ cat.title }}</a>
    </li>
  {% endfor %}
{% endblock %}

{% block content %}

  <!-- header (w/ featured post) -->
  <div class="hero-wrap">
    {% if featuredImpact %}
      {% set post = featuredImpact %}
      <div class="hero-image image-wrap">
        {% set impactImage = post.impactImage[0] ?? null %}
        {% if impactImage %}
          <div class="lazy image" style="background-image: url('');" data-original="{{ impactImage.getUrl('thumb') }}"></div>
        {% endif %}
      </div>
      <div class="row -halves">
          <li class="row-block -right background-black text-off-white font-smoothing featured-post-block">
            {% include 'impact/_article' %}
          </li>
      </div>
    {% endif %}
  </div>

  <ul class="row -halves -separators semantic-only-list">
    {% for post in impactEntries %}
      <li class="row-block background-white text-black separate">
        {% include 'impact/_article' %}
      </li>
    {% endfor %}
  </ul>

  <nav class="pagination">
    <ul>
      {% if paginationInfo.prevUrl %}
      <li class="prev">
        <a rel="prev" href="{{ paginationInfo.prevUrl }}">Previous Page</a>
      </li>
      {% endif %}
      {% if paginationInfo.nextUrl %}
      <li class="next">
        <a rel="next" href="{{ paginationInfo.nextUrl }}">Next Page</a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}
