{% extends (craft.app.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = entry.title %}

{% block filters %}
  <li class="filters-item">
    <a href="/people/">All</a>
  </li>
  {% set entryPeopleTypeIds = entry.peopleTypes.ids() %}
  {% for cat in craft.categories.group('peopleTypes').all() %}
    <li class="filters-item {% if cat.id in entryPeopleTypeIds %}current{% endif %}">
      <a href="{{ cat.url }}">{{ cat.title }}</a>
    </li>
  {% endfor %}
{% endblock %}

{% block content %}
  <h1>{{ entry.title }}</h1>

  {% if entry.personQuote %}
    <blockquote><p>{{ entry.personQuote }}</p></blockquote>
  {% endif %}

  <h3>{{ entry.title }}’s Recent Projects</h3>
  {% set relatedEntries = craft.entries.section('projects').relatedTo({
     targetElement: entry,
     field: 'projectLeaders.aeiPerson',
  }).all() %}
  {% for relatedEntry in relatedEntries %}
    <li><a href="{{ relatedEntry.getUrl() }}">{{ relatedEntry.title }}</a></li>
  {% endfor %}

  <h3>{{ entry.title }}’s Recent Impact</h3>
  {% set relatedEntries = craft.entries.section('impact').relatedTo({
     targetElement: entry,
     field: 'impactPeople.aeiPerson',
  }).all() %}
  {% for relatedEntry in relatedEntries %}
    <li><a href="{{ relatedEntry.getUrl() }}">{{ relatedEntry.title }}</a></li>
  {% endfor %}

{% endblock %}
