{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bodyClass = '' %}
{% set personType = entry.personType.one() %}
{% set secondaryPersonTypeIds = entry.secondaryPersonType.ids() %}
{% set headerImage = entry.personImage.one() %}
{% set headerTitle = entry.title %}
{% set headerSubtitle = entry.personTitle %}
{% if headerImage %}
  {% set treatedImage = craft.imager.transformImage(headerImage, { width: 1600 }) %}
  {% if treatedImage %}
    {% set seo_image = craft.app.request.getHostInfo() ~ treatedImage.getUrl() %}
  {% endif %}
{% endif %}
{% set seo_description = entry.body | striptags | chop(limit=155, unit='c', append='…') %}

{% block filters %}
  <h2 class="font-nav"><a href="/people/">People</a></h2>
  <ul class="filters semantic-only-list">
    {% for cat in craft.categories.group('peopleTypes').all() %}
      <li class="{% if (personType and cat.id == personType.id) or (cat.id in secondaryPersonTypeIds) %}active{% endif %}">
        <a href="{{ cat.getUrl() }}">{{ cat.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}

    <div class="row -use-float -halves">
      <div class="row-block -right">
        <div class="image-wrap -landscape">
          {% if treatedImage %}
            <div class="lazy image" style="background-image: url(''); background-position: center {{ headerImage.getFocalPoint()['y'] * 100 }}%" data-original="{{ treatedImage.getUrl() }}"></div>
          {% endif %}
        </div>

        <div class="text-module background-{{ (headerColor ?? null) ? headerColor|lower : 'black' }} text-white font-smoothing">
          <h1 class="font-h2 no-margin">{{ headerTitle }}</h1>
          {% if headerSubtitle ?? false %}<h2 class="font-details subtitle">{{ headerSubtitle }}</h2>{% endif %}
        </div>
      </div>
      <div class="row-block">
        <div class="page-intro module text-module background-white text-black">
          {% if entry.personQuote %}
            <blockquote class="page-quote"><span class="hang">&ldquo;</span>{{ entry.personQuote }}&rdquo;</blockquote>
          {% endif %}
          <div class="user-content">{{ entry.body }}</div>
        </div>
      </div>
      <div class="row-block">
        <div class="meta">
          {% if entry.phoneNumber %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Phone</h3>
              <div class="content"><a href="tel:{{ entry.phoneNumber }}">{{ entry.phoneNumber }}</a></div>
            </div>
          {% endif %}
          {% if entry.email %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Email</h3>
              <div class="content">
                <a href="mailto: {{ entry.email }}">
                  {% for part in entry.email|split('@') %}
                    <span class="email-part">{{ part }}{{ loop.index0==0 ? '@' : '' }}</span>
                  {% endfor %}
                </a>
              </div>
            </div>
          {% endif %}
          {% if entry.personCertifications %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Certifications</h3>
              <div class="content">{{ entry.personCertifications }}</div>
            </div>
          {% endif %}
          {% if entry.office %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Office</h3>
              <div class="content"><a href="{{ entry.office.one().getUrl() }}">{{ entry.office.one().title }}</a></div>
            </div>
          {% endif %}
          {% if entry.socialLinks|length %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Social</h3>
              <div class="content">
                <ul class="semantic-only-list">
                  {% for block in entry.socialLinks.all() %}
                      <li><a target="_blank" href="{{ block.socialUrl }}">{{ block.socialNetwork }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>


  {% set relatedProjects = entry.relatedProjects.all() %}

  {% if relatedProjects|length > 0 %}
    {% if relatedProjects|length < 4 %}
      {% set relatedProjectIds = relatedProjects|group('id')|keys %}
      {% set relatedProjectIdsString = relatedProjectIds | join(', not ') %}
      {% set attributedProjects = craft.entries.section('projects').relatedTo({
         targetElement: entry,
         field: 'projectLeaders.aeiPerson',
      }).id('and, not '~relatedProjectIdsString).orderBy('featured DESC, postDate DESC').limit(4 - relatedProjects|length).all() %}

      {% set relatedProjects = relatedProjects|merge(attributedProjects) %}
    {% endif %}
  {% else %}
    {% set relatedProjects = craft.entries.section('projects').relatedTo({
       targetElement: entry,
       field: 'projectLeaders.aeiPerson',
    }).orderBy('featured DESC, postDate DESC').limit(4 - relatedProjects|length).all() %}
  {% endif %}
  {% include 'partials/_related-projects'
    with {
      'relatedProjects': relatedProjects,
      'relatedProjectsTitle': "Project Examples"
    }
  %}

  {% set relatedPosts = entry.relatedNewsInsights.all() %}

  {% if relatedPosts|length > 0 %}
    {% if relatedPosts|length < 2 %}
      {% set relatedPostIds = relatedPosts|group('id')|keys %}
      {% set relatedPostIdsString = relatedPostIds | join(', not ') %}
      {% set attributedPosts = craft.entries.section('impact').relatedTo({
         targetElement: entry,
         field: 'impactPeople.aeiPerson',
      }).id('and, not '~relatedPostIdsString).orderBy('featured DESC, postDate DESC').limit(2 - relatedPosts|length).all() %}
      {% set relatedPosts = relatedPosts|merge(attributedPosts) %}
    {% endif %}
  {% else %}
    {% set relatedPosts = craft.entries.section('impact').relatedTo({
       targetElement: entry,
       field: 'impactPeople.aeiPerson',
    }).orderBy('featured DESC, postDate DESC').limit(2).all() %}
  {% endif %}
  {% include 'partials/_related-impact' with { 'relatedPosts': relatedPosts } %}

  {% if personType %}
    {% include "partials/_pagination-structure" with {'paginationSection': 'people', 'postName': 'in ' ~ personType.title, 'category': personType } %}
  {% endif %}

{% endblock %}
