{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bodyClass = '' %}
{% set title = entry.title %}
{% set personType = entry.personType.one() %}
{% set secondaryPersonTypeIds = entry.secondaryPersonType.ids() %}
{% set headerImage = entry.personImage.one() %}
{% set headerTitle = entry.title %}
{% set headerSubtitle = entry.personTitle %}

{% block filters %}
  <li class="filters-item">
    <a href="/people/">All</a>
  </li>
  {% for cat in craft.categories.group('peopleTypes').all() %}
    <li class="filters-item {% if cat.id == personType.id or cat.id in secondaryPersonTypeIds %}current{% endif %}">
      <a href="{{ cat.url }}">{{ cat.title }}</a>
    </li>
  {% endfor %}
{% endblock %}

{% block content %}

    <!-- header -->
    <div class="hero-wrap">
      <div class="hero-image image-wrap">
        {% if headerImage %}
          <div class="lazy image -top-weight" style="background-image: url('');" data-original="{{ headerImage.getUrl('header') }}"></div>
        {% endif %}
      </div>
    </div>
    <div class="row -halves secondary-page-intro">
      <div class="row-block">
        <div class="page-intro module text-module background-white text-black">
          {% if entry.personQuote %}
            <blockquote class="page-quote">&ldquo;{{ entry.personQuote }}&rdquo;</blockquote>
          {% endif %}
          <div class="user-content">{{ entry.body }}</div>
        </div>
      </div>
      <div class="row-block">
        <div class="text-module background-{{ (headerColor ?? null) ? headerColor|lower : 'black' }} text-white font-smoothing">
          <h1 class="font-h2 no-margin">{{ headerTitle }}</h1>
          {% if headerSubtitle ?? false %}<h2 class="font-details no-margin">{{ headerSubtitle }}</h2>{% endif %}
        </div>
        <div class="meta  ">
          {% if entry.phoneNumber %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Phone</h3>
              <div class="content"><a href="tel:{{ entry.phoneNumber }}">{{ entry.phoneNumber }}</a></div>
            </div>
          {% endif %}
          {% if entry.email %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Email</h3>
              <div class="content">
                <a href="mailto: {{ entry.email }}">
                  {% for part in entry.email|split('@') %}
                    <span class="email-part">{{ part }}{{ loop.index0==0 ? '@' : '' }}</span>
                  {% endfor %}
                </a>
              </div>
            </div>
          {% endif %}
          {% if entry.personCertifications %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Certifications</h3>
              <div class="content">{{ entry.personCertifications }}</div>
            </div>
          {% endif %}
          {% if entry.socialLinks|length %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Social</h3>
              <div class="content">
                <ul class="semantic-only-list">
                  {% for block in entry.socialLinks.all() %}
                      <li><a target="_blank" href="{{ block.socialUrl }}">{{ block.socialNetwork }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

  {% set relatedProjects = craft.entries.section('projects').relatedTo({
     targetElement: entry,
     field: 'projectLeaders.aeiPerson',
  }).all() %}
  {% include 'partials/_related-projects'
    with {
      'relatedProjects': relatedProjects,
      'relatedProjectsTitle': "#{ entry.title }’s Recent Projects"
    }
  %}


  {% set relatedPosts = craft.entries.section('impact').relatedTo({
     targetElement: entry,
     field: 'impactPeople.aeiPerson',
  }).all() %}
  {% include 'partials/_related-impact'
    with {
      'relatedPosts': relatedPosts,
      'relatedPostsTitle': "#{ entry.title }’s Recent Impact"
    }
  %}

  {% include "partials/_pagination_structure" with {'paginationSection': 'people', 'postName': 'in ' ~ personType.title, 'category': personType } %}

{% endblock %}
