{% set bodyClass = 'white-header' %}

{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% if category is defined %}

  {% paginate craft.entries({
    section: 'people',
    relatedTo: category,
    orderBy: 'personLastName',
    featured: 1,
    with: [
      'personImage'
    ]
  }).limit(40) as paginationInfo, peopleEntries %}

  {% set title = category.title %}
  {% set subheader = category.body %}
  {% set entry = craft.entries.section('peopleIndex').one() %}

{% else %}

  {% paginate craft.entries({
    section: 'people',
    orderBy: 'personLastName',
    featured: 1,
    with: [
      'personImage'
    ]
  }).limit(40) as paginationInfo, peopleEntries %}

  {% set title = 'People' %}
  {% set subheader = entry.subheader %}

{% endif %}


{% block filters %}
  <li class="filters-item {{ (category is not defined) ? 'current' : '' }}">
    <a href="/people/">All</a>
  </li>
  {% for cat in craft.categories.group('peopleTypes').all() %}
    <li class="filters-item {{ active(cat.url, 'url', 'current') }}">
      <a href="{{ cat.url }}">{{ cat.title }}</a>
    </li>
  {% endfor %}
{% endblock %}


{% block content %}

  <!-- header w/ stat -->
  <div class="row -halves">
    <div class="row-block pull-to-top-h1">
      <div class="module text-module  ">
        <div class="font-h1 user-content">{{ subheader }}</div>
        <div class="buttons">
          <a class="button" href="/careers/">
            <span class="border"></span><span class="extra-corners"></span>
            Careers
            <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
          </a>
        </div>
      </div>
    </div>
    <div class="row-block pull-to-top">
      {% set block = {
        statFigure: entry.numberOfPeople,
        statLabel: 'People',
        statFigure2: entry.numberOfOffices,
        statLabel2: 'Offices',
      } %}
      {% include 'partials/media-blocks/_stat' %}
    </div>
  </div>

  <!-- people -quarters -->
  <section class="big-margin-vertical" id="people">
    <ul class="row -quarters photo-row-separators semantic-only-list infinite-scroll-container">
      {% for person in peopleEntries %}
        <li class="row-block infinite-scroll-object">
          {% include 'people/_article' %}
        </li>
      {% endfor %}
    </ul>
  </section>

  <nav class="pagination" data-total-pages="{{ paginationInfo.totalPages }}">
    <ul>
      {% if paginationInfo.prevUrl %}
      <li class="prev">
        <a rel="prev" href="{{ paginationInfo.prevUrl }}">Previous Page</a>
      </li>
      {% endif %}
      {% if paginationInfo.nextUrl %}
      <li class="next">
        <a rel="next" href="{{ paginationInfo.nextUrl }}">Next Page</a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}
