{% set bodyClass = 'white-header' %}

{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% if category is defined %}

  {% paginate craft.entries({
    section: 'people',
    relatedTo: category,
    featured: 1,
    with: [
      'personImage'
    ]
  }).limit(40) as paginationInfo, peopleEntries %}

  {% set title = category.title %}
  {% set subheader = category.body %}
  {% set entry = craft.entries.section('peopleIndex').one() %}

{% else %}

  {% paginate craft.entries({
    section: 'people',
    featured: 1,
    with: [
      'personImage'
    ]
  }).limit(40) as paginationInfo, peopleEntries %}

  {% set subheader = entry.subheader %}

{% endif %}


{% block filters %}
  <h2 class="font-nav {{ (category is not defined) ? 'current' : '' }}"><a href="/people/">People</a></h2>
  <ul class="filters semantic-only-list">
    {% for cat in craft.categories.group('peopleTypes').all() %}
      <li class="{{ active(cat.getUrl(), 'url', 'current') }}">
        <a href="{{ cat.getUrl() }}">{{ cat.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}


{% block content %}

  <!-- header w/ stat -->
  <div class="row -halves">
    <div class="row-block">
      <div class="module text-module  ">
        <div class="font-h1 user-content">{{ subheader }}</div>
        <div class="buttons">
          <a class="button" href="/about/careers/">
            <span class="border"></span><span class="extra-corners"></span>
            Careers
            <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
          </a>
        </div>

        <div class="mobile-filter">
          <div class="filter-header">
            Filter:
            <span>{{ category is defined ? category.title : 'All' }}</span>
            <svg class="icon icon-up-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-up-arrow"/></svg>
          </div>
          <ul class="filters semantic-only-list">
            <li class="{{ category is defined ? '' : 'current' }}">
              <a href="/people/">All</a>
            </li>
            {% for cat in craft.categories.group('peopleTypes').all() %}
              <li class="{{ active(cat.getUrl(), 'url', 'current') }}">
                <a href="{{ cat.getUrl() }}">{{ cat.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>
    <div class="row-block">
      {% set block = {
        statFigure: entry.numberOfPeople,
        statLabel: 'People',
        statFigure2: entry.numberOfOffices,
        statLabel2: 'Offices',
      } %}
      {% include 'partials/media-blocks/_stat' %}
    </div>
  </div>

  <!-- people -quarters -->
  <section id="people">
    <ul class="row -quarters photo-row-separators semantic-only-list infinite-scroll-container">
      {% for person in peopleEntries %}
        <li class="row-block infinite-scroll-object">
          {% include 'people/_article' %}
        </li>
      {% endfor %}
    </ul>
  </section>

  <nav class="pagination" data-total-pages="{{ paginationInfo.totalPages }}">
    <ul>
      {% if paginationInfo.prevUrl %}
      <li class="prev">
        <a rel="prev" href="{{ paginationInfo.prevUrl }}">Previous Page</a>
      </li>
      {% endif %}
      {% if paginationInfo.nextUrl %}
      <li class="next">
        <a rel="next" href="{{ paginationInfo.nextUrl }}">Next Page</a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}
