{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = category.title %}
{% set bodyClass = 'overlapping-header' %}
{% set headerImage = category.serviceImage.one() %}
{% if headerImage %}
  {% set treatedImage = craft.imager.transformImage(headerImage, { width: 1600 }) %}
  {% if treatedImage %}
    {% set seo_image = craft.app.request.getHostInfo() ~ treatedImage.getUrl() %}
  {% endif %}
{% endif %}
{% set seo_description = category.body | striptags | chop(limit=155, unit='c', append='…') %}


{% block filters %}
  <h2 class="font-nav"><a href="/services/">Services</a></h2>
  <ul class="filters semantic-only-list">
    {% for cat in craft.categories.group('services').all() %}
      <li class="{{ active(cat.getUrl(), 'url', 'current') }}">
        <a href="{{ cat.getUrl() }}">{{ cat.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}

  <article class="single-service" data-id="{{ category.id }}">
    {% include 'partials/_secondary-header'
      with {
        'headerImage': headerImage,
        'headerTitle': category.title,
      }
    %}

    <!-- intro -->
    {% if category.body|striptags|trim != '' %}
      <div class="row -halves secondary-page-intro">
        <div class="row-block top-overlap-p">
          <div class="page-intro module text-module background-white text-black">
            <div class="user-content">{{ category.body }}</div>
          </div>
        </div>
      </div>
    {% endif %}

    {% set relatedProjects = craft.entries({
      section: 'projects',
      relatedTo: category,
      with: [
        'projectImage'
      ]
    }).orderBy('featured DESC, postDate DESC').limit(4) %}
    {% include 'partials/_related-projects'
      with {
        'relatedProjects': relatedProjects,
        'relatedProjectsTitle': "Featured #{ category.title } Projects",
      }
    %}

    {% set relatedPosts = craft.entries({
      section: 'impact',
      relatedTo: category,
    }).orderBy('featured DESC, postDate DESC').limit(2) %}
    {% include 'partials/_related-impact'
      with {
        'relatedPosts': relatedPosts,
        'relatedProjectsTitle': "#{ category.title } Impact",
      }
    %}

    {% include "partials/_pagination-category" %}

  </article>

{% endblock %}
