{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set title = category.title %}
{% set bodyClass = 'overlapping-header' %}
{% set headerImage = category.serviceImage.one() %}
{% set treatedImage = null %}
{% if headerImage %}
  {% set treatedImage = craft.imager.transformImage(headerImage, { width: 1600 }) %}
  {% if treatedImage %}
    {% set seo_image = craft.app.request.getHostInfo() ~ treatedImage.getUrl() %}
  {% endif %}
{% endif %}
{% set seo_description = category.body | striptags | chop(limit=155, unit='c', append='…') %}
{% set childServices = category.children %}

{% set filterNav %}
<div class="module text-module hide-on-lg">
  <div class="mobile-filter single-entry">
    <div class="filter-header">
      Filter:
      <span>{{ category is defined ? category.title : 'All' }}</span>
      <svg class="icon icon-up-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-up-arrow"/></svg>
    </div>
    {% include 'partials/_hierarchy-nav' with { taxonomy: 'services' } %}
  </div>
</div>
{% endset %}

{% block filters %}
  <h2 class="font-nav"><a href="/services/">Services</a></h2>
  {% include 'partials/_hierarchy-nav' with { taxonomy: 'services' } %}
{% endblock %}

{% block content %}

  {{ filterNav }}

  <article class="single-service" data-id="{{ category.id }}">
    <div class="row -use-float -halves">
      <div class="row-block -right">
        <div class="image-wrap -landscape">
          {% if headerImage and treatedImage %}
            <div class="lazy image" style="background-image: url(''); background-position: center {{ headerImage.getFocalPoint()['y'] * 100 }}%" data-original="{{ treatedImage.getUrl() }}"></div>
          {% endif %}
        </div>
        <div class="text-module background-{{ (headerColor ?? null) ? headerColor|lower : 'black' }} text-white font-smoothing">
          <h1 class="font-h2 no-margin">{{ category.title }}</h1>
        </div>
      </div>
      <div class="row-block -left">
        <div class="page-intro module text-module background-white text-black">
          {% if category.body|striptags|trim != '' %}
            <div class="user-content">{{ category.body }}</div>
          {% endif %}

          {% if category.children|length %}
            <ul class="child-services semantic-only-list">
            {% for cat in category.children.all() %}
              <li>
                <a href="{{ cat.getUrl() }}">{{ cat.title }}</a>
              </li>
            {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>

    {% set relatedProjects = category.relatedProjects.all() %}

    {% if relatedProjects|length > 0 %}
      {% if relatedProjects|length < 4 %}
        {% set relatedProjectIds = relatedProjects|group('id')|keys %}
        {% set relatedProjectIdsString = relatedProjectIds | join(', not ') %}
        {% set relatedServiceProjects = craft.entries({
          section: 'projects',
          relatedTo: category,
          with: [
            'projectImage'
          ]
        }).id('and, not '~relatedProjectIdsString).limit(4 - relatedProjects|length).all() %}

        {% set relatedProjects = relatedProjects|merge(relatedServiceProjects) %}
      {% endif %}
    {% else %}
      {% set relatedProjects = craft.entries({
        section: 'projects',
        relatedTo: category,
        with: [
          'projectImage'
        ]
      }).limit(4).all() %}
    {% endif %}
    {% include 'partials/_related-projects'
      with {
        'relatedProjects': relatedProjects,
        'relatedProjectsTitle': "Featured #{ category.title } Projects",
      }
    %}

    {% set relatedPosts = category.relatedNewsInsights.all() %}

    {% if relatedPosts|length > 0 %}
      {% if relatedPosts|length < 2 %}
        {% set relatedPostIds = relatedPosts|group('id')|keys %}
        {% set relatedPostIdsString = relatedPostIds | join(', not ') %}
        {% set relatedCategoryPosts = craft.entries.section('impact').relatedTo(category).id('and, not '~relatedPostIdsString).orderBy('featured DESC, postDate DESC').limit(2 - relatedPosts|length).all() %}
        {% set relatedPosts = relatedPosts|merge(relatedCategoryPosts) %}
      {% endif %}
    {% else %}
      {% set relatedPosts = craft.entries({
        section: 'impact',
        relatedTo: category,
      }).orderBy('featured DESC, postDate DESC').limit(2).all() %}
    {% endif %}
    {% include 'partials/_related-impact'
      with {
        'relatedPosts': relatedPosts,
        'relatedProjectsTitle': "#{ category.title } Impact",
      }
    %}

    {% include "partials/_pagination-category" %}

  </article>

{% endblock %}
