{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block filters %}
  <h2 class="font-nav {{ (category is not defined) ? 'current' : '' }}"><a href="/services/">Services</a></h2>
  {% include 'partials/_hierarchy-nav' with { taxonomy: 'services' } %}
{% endblock %}

{% block content %}
{% set bodyClass = 'single' %}

  {% include 'partials/_stat-header' with {
    subheader: entry.statHeader.subheader,
    statFigure: entry.statHeader.statFigure,
    statLabel: entry.statHeader.statLabel
  } %}

  <div id="services">
    <ul class="row -quarters photo-row-separators semantic-only-list">
    {% for service in craft.categories.group('services').level(1).all() %}
      <li class="row-block">
        {% include 'services/_article' %}
      </li>
    {% endfor %}
    </ul>
  </div>

{% endblock %}
