{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block filters %}
  <h2 class="font-nav {{ (category is not defined) ? 'current' : '' }}"><a href="/services/">Services</a></h2>
  <ul class="filters semantic-only-list">
    {% for cat in craft.categories.group('services').all() %}
      <li class="{{ active(cat.getUrl(), 'url', 'current') }}">
        <a href="{{ cat.getUrl() }}">{{ cat.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}
{% set bodyClass = 'single' %}

  {% for pageHeader in entry.pageHeader.all() %}
    {% include '/partials/_theater-header' %}
  {% endfor %}

  <section id="services">
    <!-- services -quarters -->
    <ul class="row -quarters photo-row-separators semantic-only-list  big-margin-bottom">
    {% for service in craft.categories.group('services').all() %}
      <li class="row-block">
        {% include 'services/_article' %}
      </li>
    {% endfor %}
    </ul>
  </section>

{% endblock %}