{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set query = craft.app.request.getParam('q') %}

{% block content %}

  {% if not craft.app.request.isAjax %}
  <form action="{{ url('search') }}" class="search-form">
      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="search" value="{{ query ? query : '' }}" name="q" class="search-field form-control" placeholder="Search" required="">
      <button type="submit" class="button">
        <span class="border"></span><span class="extra-corners"></span>
        Search
        <svg class="icon icon-search"><use xlink:href="#icon-search" /></svg>
      </button>
  </form>
  {% endif %}

  {% if query %}

    {% set projectPosts = [] %}
    {% set impactPosts = [] %}
    {% set servicePosts = [] %}
    {% set peoplePosts = [] %}

    {% set entries = craft.entries.search(query).orderBy('score') %}
    {% if entries|length %}
      {% for entry in entries.all() %}
        {% switch entry.section %}
          {% case "Projects" %}
            {% set projectPosts = projectPosts|merge([entry]) %}
          {% case "Offices" %}
            {% set servicePosts = servicePosts|merge([entry]) %}
          {% case "Impact" %}
            {% set impactPosts = impactPosts|merge([entry]) %}
          {% case "People" %}
            {% set peoplePosts = peoplePosts|merge([entry]) %}
        {% endswitch %}
      {% endfor %}
    {% endif %}

    {% set services = craft.categories({
      search: query,
      orderBy: 'score',
      group: 'services',
    }) %}
    {% for service in services.all() %}
      {% set servicePosts = servicePosts|merge([service]) %}
    {% endfor %}

    <div class="search-results">

      {% if (projectPosts|length + servicePosts|length + impactPosts|length + peoplePosts|length) == 0 %}

        <section class="search-section"><p class="no-results">No results found.</p></section>

      {% else %}

        {% set search_sections = {
          'Projects': projectPosts,
          'News & Insights': impactPosts,
          'Locations & Services': servicePosts,
          'People': peoplePosts,
          } %}

          {% for title,entries in search_sections %}
            <section class="search-section">
              <div class="search-section-title sticky-header">
                <h2>{{ title }}</h2>
              </div>
              {% for entry in entries %}
                {% include 'search/_article' %}
              {% endfor %}
            </section>
          {% endfor %}

      {% endif %}
    </div>
  {% endif %}

{% endblock %}
