{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set query = craft.app.request.getParam('q') %}

{% block content %}

  <form action="{{ url('search') }}" class="search-form">
      <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="search" value="{{ query ? query : '' }}" name="q" class="search-field form-control" placeholder="Search Terms" required="">
      <button type="submit" class="button">
        <span class="border"></span><span class="extra-corners"></span>
        Search
        <svg class="icon icon-search"><use xlink:href="#icon-search" /></svg>
      </button>
  </form>

  {% if query %}

    {% set expertisePosts = [] %}
    {% set impactPosts = [] %}
    {% set approachPosts = [] %}
    {% set peoplePosts = [] %}

    {% set entries = craft.entries.search(query).orderBy('score').all() %}
    {% if entries|length %}
      {% for entry in entries %}
        {% switch entry.section %}
          {% case "Projects" %}
            {% set expertisePosts = expertisePosts|merge([entry]) %}
          {% case "Offices" %}
            {% set approachPosts = approachPosts|merge([entry]) %}
          {% case "Impact" %}
            {% set impactPosts = impactPosts|merge([entry]) %}
          {% case "People" %}
            {% set peoplePosts = peoplePosts|merge([entry]) %}
        {% endswitch %}
      {% endfor %}
    {% endif %}

    {% set services = craft.categories({
      search: query,
      orderBy: 'score',
      group: 'services',
    }).all() %}
    {% for service in services %}
      {% set approachPosts = approachPosts|merge([service]) %}
    {% endfor %}

    <div class="search-results">

      {% if (expertisePosts|length + approachPosts|length + impactPosts|length + peoplePosts|length) == 0 %}

        <p class="no-results">No results found.</p>

      {% else %}

        {% set search_sections = {
          'Expertise': expertisePosts,
          'Impact': impactPosts,
          'Approach': approachPosts,
          'People': peoplePosts,
          } %}

          {% for title,entries in search_sections %}
            <section class="search-section">
              <h2>{{ title }}</h2>
              {% for entry in entries %}
                {% include 'search/_article' %}
              {% endfor %}
            </section>
          {% endfor %}

      {% endif %}
    </div>
  {% endif %}

{% endblock %}
