{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set query = craft.app.request.getParam('q') %}

{% block content %}

  {% if not craft.app.request.isAjax %}
    {% include 'partials/_search-form' %}
  {% endif %}

  {% if query %}

    {% set projectPosts = [] %}
    {% set impactPosts = [] %}
    {% set servicePosts = [] %}
    {% set peoplePosts = [] %}
    {% set peoplePostsIds = [] %}

    {% set entries = craft.entries.search(query).orderBy('score') %}
    {% if entries|length %}
      {% for entry in entries.all() %}
        {% switch entry.section %}
          {% case "Projects" %}
            {% set projectPosts = projectPosts|merge([entry]) %}
            {# Add primary contact for project to People search results #}
            {% set primaryContact = entry.projectLeaders.one().aeiPerson.one() %}
            {% if primaryContact.id not in peoplePostsIds %}
              {% set peoplePosts = peoplePosts|merge([primaryContact]) %}
              {% set peoplePostsIds = peoplePostsIds|merge([primaryContact.id]) %}
            {% endif %}
          {% case "Offices" %}
            {% set servicePosts = servicePosts|merge([entry]) %}
          {% case "News & Insights" %}
            {% set impactPosts = impactPosts|merge([entry]) %}
          {% case "People" %}
          {% if entry.id not in peoplePostsIds %}
            {% set peoplePosts = peoplePosts|merge([entry]) %}
            {% set peoplePostsIds = peoplePostsIds|merge([entry.id]) %}
          {% endif %}
        {% endswitch %}
      {% endfor %}
    {% endif %}

    {% set services = craft.categories({
      search: query,
      orderBy: 'score',
      group: 'services',
    }) %}
    {% for service in services.all() %}
      {% set servicePosts = servicePosts|merge([service]) %}
    {% endfor %}

    <div class="search-results">

      {% if (projectPosts|length + servicePosts|length + impactPosts|length + peoplePosts|length) == 0 %}

        <section class="search-section"><p class="no-results">No results found.</p></section>

      {% else %}

        {% set search_sections = {
          'Projects': projectPosts,
          'News & Insights': impactPosts,
          'Locations & Services': servicePosts,
          'People': peoplePosts,
          } %}

          {% for title, entries in search_sections %}
            <section class="search-section {{ entries|length == 0 ? 'no-section-results' : '' }}">
              <div class="search-section-title sticky-header">
                <h2>{{ title }}</h2>
              </div>
              {% for entry in entries %}
                {% include 'search/_article' %}
              {% endfor %}
            </section>
          {% endfor %}

      {% endif %}
    </div>
  {% endif %}

{% endblock %}
