{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * AEI plugin for Craft CMS 3.x
 *
 * AEI Settings.twig
 *
 * @author    Firebelly Design
 * @copyright Copyright (c) 2018 Firebelly Design
 * @link      https://www.firebellydesign.com/
 * @package   AEI
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<h2>Deltek Import Sections</h2>
<p>Select which sections get imported regularly:</p>

<ul>
{% for section in craft.app.getModule('aei').getDeltekSections() %}
    <li>
        {% include "_includes/forms/checkbox" with {
            name:      'deltekActiveImportSections['~section~']',
            value:     1,
            checked:   settings['deltekActiveImportSections'][section],
            label:     section,
        } %}
    </li>
{% endfor %}
</ul>
