{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * AEI plugin for Craft CMS 3.x
 *
 * AEI Settings.twig
 *
 * @author    Firebelly Design
 * @copyright Copyright (c) 2018 Firebelly Design
 * @link      https://www.firebellydesign.com/
 * @package   AEI
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("firebelly\\aei\\assetbundles\\aei\\AEIAsset") %}

<h2>Deltek Import Sections</h2>
<p>Select which sections get imported every night.</p>

<ul>
{% for section in ['Awards', 'Projects', 'People', 'Offices', 'Impact'] %}
    <li>
        {% include "_includes/forms/checkbox" with {
            name:      'deltekImportSections['~section~']',
            value:     section,
            checked:   settings['deltekImportSections'][section],
            label:     section,
        } %}
    </li>
{% endfor %}
</ul>
