{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bodyClass = 'white-header' %}

{% block filters %}
  {% include 'partials/_about-nav' %}
{% endblock %}

{% block content %}
  <div class="row -halves">
    <div class="row-block">
      <div class="module text-module">
        <div class="font-h1 no-margin user-content">{{ entry.body }}</div>
      </div>
    </div>
  </div>

  <div class="award-table margin-bottom">
    <table class="sortable">
      <thead>
        <th>Awards &amp; Recognitions <svg class="icon icon-down-arrow"><use xlink:href="#icon-down-arrow" /></svg></th>
        <th class="year">Year <svg class="icon icon-down-arrow"><use xlink:href="#icon-down-arrow" /></svg></th>
        <th>Project <svg class="icon icon-down-arrow"><use xlink:href="#icon-down-arrow" /></svg></th>
      </thead>
      <tbody>
        {% for award in craft.entries.section('awards').orderBy('awardDate desc').all() %}
          {% set project = craft.entries.section('projects').relatedTo({ element: award }).status(null).one() %}
          {% if not project or project.enabled %}
          <tr>
            <td>{{ award.title }}{{ award.title and award.awardIssuer ? ' - ' : ''}}{{ award.awardIssuer }}</td>
            <td>{{ award.awardDate|date('Y') }}</td>
            <td>{% if project %}
              <a href="{{ project.getUrl() }}">{{ project.title }}</a>
            {% endif %}</td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
