<article class="module post-module no-underline" data-id="{{ post.id }}">
  {% set impactType = post.impactType[0] ?? null %}
  {% if impactType %}
    <div class="category font-details">{{ impactType }}</div>
  {% endif %}
  <h2 class="title"><a href="{{ post.getUrl() }}">{{ post.title }}</a></h2>
  <p class="excerpt">{{ post.excerpt ? post.excerpt : post.body | chop(limit=20, unit='w', append='…') }}</p>
  <a class="button" href="{{ post.getUrl() }}">
    <span class="border"></span><span class="extra-corners"></span>
    Read More
    <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
  </a>
</article>
