{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bodyClass = 'overlapping-header' %}
{% set impactType = entry.impactType.one() %}
{% set impactPeople = entry.impactPeople.all() %}
{% set headerImage = entry.impactImage.one() %}
{% if headerImage %}
  {% set treatedImage = craft.imager.transformImage(headerImage, { width: 1600 }) %}
  {% if treatedImage %}
    {% set seo_image = craft.app.request.getHostInfo() ~ treatedImage.getUrl() %}
  {% endif %}
{% endif %}
{% set seo_description = entry.body | striptags | chop(limit=155, unit='c', append='…') %}

{% block filters %}
  <h2 class="font-nav"><a href="/news/">News &<br>Insights</a></h2>
  <ul class="filters semantic-only-list">
    {% for cat in craft.categories.group('impactTypes').all() %}
      <li class="{% if cat.id == impactType.id %}active{% endif %}">
        <a href="{{ cat.getUrl() }}">{{ cat.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}
  <article class="single-impact" data-id="{{ entry.id }}">

    {% include 'partials/_secondary-header'
      with {
        'headerImage': headerImage,
        'headerTitle': entry.title,
      }
    %}

    {# intro #}
    <div class="row -halves -spaced content-blocks">
      <div class="row-block top-overlap-p">
        <div class="page-intro module text-module background-white text-black">
          <div class="user-content">{{ entry.body }}</div>
        </div>
      </div>
      <div class="row-block last-on-sm">
        <div class="meta  ">
          {% if impactType.slug == 'presentations' %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Session</h3>
              <div class="content">
                {% if entry.conferenceUrl %}<a target="_blank" href="{{ entry.conferenceUrl }}">{% endif %}{{ entry.title }}{% if entry.conferenceUrl %}</a>{% endif %}
              </div>
            </div>
          {% endif %}

          {% if entry.sessionDate %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Session Date</h3>
              <div class="content">
                {{ entry.sessionDate|date('m/d/y') }}
                {% set sessionTime = entry.sessionDate|date('ga') %}
                {% if sessionTime != '12AM' %}
                  @ {{ sessionTime }}
                {% endif %}
              </div>
            </div>
          {% endif %}

          {% if entry.conferenceLocation %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Location</h3>
              <div class="content">
                {{ entry.conferenceLocation }}
              </div>
            </div>
          {% endif %}

          {% if entry.conferenceHost %}
            <div class="meta-item -half {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Host</h3>
              <div class="content">
                {{ entry.conferenceHost }}
              </div>
            </div>
          {% endif %}

          {% for person in impactPeople %}
            <div class="meta-item -full">
              <h3>{{ person.personRole }}</h3>
              <div class="content">
                {% set aeiPerson = person.aeiPerson.one() %}
                {% if aeiPerson %}
                  <a href="{{ aeiPerson.getUrl() }}">{{ aeiPerson.title }}</a>
                {% else %}
                  {{ person.personName }}
                  {% if person.personCompany %}
                    — {{ person.personCompany }}
                  {%- endif -%}
                {% endif %}
              </div>
            </div>
          {% endfor %}

          {% if impactType.slug == 'articles' %}
            <div class="meta-item -full">
              <h3>Publication Date</h3>
              <div class="content">{{ entry.impactPublicationDate|date('m/d/y') }}</div>
            </div>
          {% elseif impactType.slug != 'presentations' %}
            <div class="meta-item -full">
              <h3>Post Date</h3>
              <div class="content">{{ entry.postDate|date('m/d/y') }}</div>
            </div>
          {% endif %}

          {% if entry.impactPublication %}
            <div class="meta-item -full {% set nHalf = nHalf ?? 0 + 1  %}{{ cycle (['-row-end',''], nHalf) }}">
              <h3>Publication</h3>
              <div class="content">
                {% if entry.impactPublicationUrl %}<a target="_blank" href="{{ entry.impactPublicationUrl }}">{% endif %}{{ entry.impactPublication }}{% if entry.impactPublicationUrl %}</a>{% endif %}
              </div>
            </div>
          {% endif %}

        </div>
      </div>

      {% include 'partials/_media-blocks' %}

    </div>


    {% set relatedProjects = entry.relatedProjects.all() %}
    {% include 'partials/_related-projects'
      with {
        'relatedProjects': relatedProjects,
      }
    %}

    {% set limitCriteria = craft.entries.section('impact').limit(2) %}
    {% set relatedPosts = craft.similar.find({
      element: entry,
      context: entry.impactType,
      criteria: limitCriteria
    }) %}

    {% if relatedPosts|length < 2 %}
      {% set omitId = relatedPosts|length == 1 ? relatedPosts[0].id : 0 %}
      {% set extraRelatedPosts = craft.entries.section('impact').id('not ' ~ omitId).limit(2 - relatedPosts|length).all() %}
      {% set relatedPosts = relatedPosts|merge(extraRelatedPosts) %}
    {% endif %}

    {% include 'partials/_related-impact'
      with {
        'relatedPosts': relatedPosts,
      }
    %}

  </article>

{% endblock %}
