{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set bodyClass = 'overlapping-header' %}
{% set statType = craft.categories.group('statTypes').slug('news').one() %}
{% set stats = [] %}

{% if category is defined %}

  {% set title = category.title %}
  {% set entry = craft.entries.section('newsIndex').one() %}
  {% if craft.app.request.isAjax %}
    {# AJAX call for infinite scroll #}
    {% set omitId = craft.app.request.getQueryParam('omitId') %}
  {% else %}
    {% set featuredImpact = craft.entries.section('impact').relatedTo(category).featured(1).orderBy('RAND()').one() ?? craft.entries.section('impact').relatedTo(category).one() %}
    {% set omitId = featuredImpact ? featuredImpact.id : 0 %}
    {% set stats = craft.entries.section('stats').relatedTo(category).orderBy('RAND()').limit(2).all() %}
  {% endif %}
  {% paginate craft.entries({
    section: 'impact',
    relatedTo: category,
    with: [
      'impactImage'
    ]
  }).id('not ' ~ omitId).orderBy('featured DESC, postDate DESC').limit(12) as paginationInfo, impactEntries %}

{% else %}

  {% if craft.app.request.isAjax %}
    {# AJAX call for infinite scroll #}
    {% set omitId = craft.app.request.getQueryParam('omitId') %}
  {% else %}
    {% set featuredImpact = craft.entries.section('impact').featured(1).orderBy('RAND()').one() ?? craft.entries.section('impact').one() %}
    {% set omitId = featuredImpact ? featuredImpact.id : 0 %}
    {% set stats = craft.entries.section('stats').relatedTo(statType).orderBy('RAND()').limit(2).all() %}
  {% endif %}

  {% paginate craft.entries({
    section: 'impact',
    with: [
      'impactImage'
    ]
  }).id('not ' ~ omitId).orderBy('featured DESC, postDate DESC').limit(12) as paginationInfo, impactEntries %}

{% endif %}

{% block filters %}
  <h2 class="font-nav {{ (category is not defined) ? 'current' : '' }}"><a href="/news/">News &<br>Insights</a></h2>
  <ul class="filters semantic-only-list">
    {% for cat in craft.categories.group('impactTypes').all() %}
      <li class="{{ active(cat.url, 'url', 'current') }}">
        <a href="{{ cat.url }}">{{ cat.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}

  {% if not craft.app.request.isAjax %}
     {# header (w/ featured post) #}
    <div class="hero-wrap">
      {% if featuredImpact %}
        {% set post = featuredImpact %}
        <div class="hero-image image-wrap">
          {% set impactImage = post.impactImage[0] ?? null %}
          {% if impactImage %}
            <div class="lazy image" style="background-image: url('');" data-original="{{ impactImage.getUrl('thumb') }}"></div>
          {% endif %}
        </div>
        <div class="row -halves">
            <li class="row-block -right background-black text-off-white font-smoothing featured-post-block">
              {% include 'news/_article' %}
            </li>
        </div>
      {% endif %}
    </div>
  {% endif %}

  <ul class="row -halves -separators semantic-only-list infinite-scroll-container">
    {% for post in impactEntries %}
      {% if loop.index in ['3','8'] and stats|length %}
        <li class="row-block separate">
          {% include 'partials/media-blocks/_stat' with { 'block': stats|last } %}
          {% set stats = stats|slice(0,-1) %}
        </li>
      {% endif %}
      <li class="row-block separate infinite-scroll-object">
        {% include 'news/_article' %}
      </li>
    {% else %}
      {% if not featuredImpact %}
        <li class="no-posts-found">No posts found.</li>
      {% endif %}
    {% endfor %}
  </ul>

  <nav class="pagination" data-total-pages="{{ paginationInfo.totalPages }}">
    <ul>
      {% if paginationInfo.prevUrl %}
      <li class="prev">
        <a rel="prev" href="{{ paginationInfo.prevUrl }}">Previous Page</a>
      </li>
      {% endif %}
      {% if paginationInfo.nextUrl %}
      <li class="next">
        <a rel="next" href="{{ paginationInfo.nextUrl }}">Next Page</a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}
