{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set bodyClass = 'overlapping-header' %}
{% set statType = craft.categories.group('statTypes').slug('news').one() %}
{% set stats = [] %}

{% if category is defined %}

  {% set title = category.title %}
  {% set subheader = category.body %}
  {% set entry = craft.entries.section('newsIndex').one() %}
  {% set featuredImpact = craft.entries.section('impact').relatedTo(category).featured(1).orderBy('RAND()').one() ?? craft.entries.section('impact').relatedTo(category).one() %}
  {% set omitId = featuredImpact ? featuredImpact.id : 0 %}
  {% set stats = craft.entries.section('stats').relatedTo(category).orderBy('RAND()').limit(2).all() %}

  {% paginate craft.entries({
    section: 'impact',
    relatedTo: category,
    with: [
      'impactImage'
    ]
  }).orderBy('featured DESC, postDate DESC').limit(12) as paginationInfo, impactEntries %}

{% else %}

  {% set subheader = entry.body %}
  {% set featuredImpact = craft.entries.section('impact').featured(1).orderBy('RAND()').one() ?? craft.entries.section('impact').one() %}
  {% set stats = craft.entries.section('stats').relatedTo(statType).orderBy('RAND()').limit(2).all() %}

  {% paginate craft.entries({
    section: 'impact',
    with: [
      'impactImage'
    ]
  }).orderBy('featured DESC, postDate DESC').limit(12) as paginationInfo, impactEntries %}

{% endif %}

{% block filters %}
  <h2 class="font-nav {{ (category is not defined) ? 'current' : '' }}"><a href="/news/">News &<br>Insights</a></h2>
  <ul class="filters semantic-only-list">
    {% for cat in craft.categories.group('impactTypes').all() %}
      <li class="{{ active(cat.getUrl(), 'url', 'current') }}">
        <a href="{{ cat.getUrl() }}">{{ cat.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}

  {% if not craft.app.request.isAjax %}
    {# Top row: intro and first post (wrapped so they can visually align) #}
    <div class="row -halves">
      <div class="row-block intro-block">
        <div class="module text-module">
          <div class="font-h1 user-content">{{ subheader }}</div>
          <div class="mobile-filter">
            <div class="filter-header">
              Filter:
              <span>{{ category is defined ? category.title : 'All' }}</span>
              <svg class="icon icon-up-arrow" aria-hidden="true" role="presentation"><use xlink:href="#icon-up-arrow"/></svg>
            </div>
            <ul class="filters semantic-only-list">
              <li class="{{ category is defined ? '' : 'current' }}">
                <a href="/news/">All</a>
              </li>
              {% for cat in craft.categories.group('impactTypes').all() %}
                <li class="{{ active(cat.getUrl(), 'url', 'current') }}">
                  <a href="{{ cat.getUrl() }}">{{ cat.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% set post = impactEntries ? impactEntries[0] : false %}
      {% if post %}
        <div class="row-block">
          {% include 'news/_article' %}
        </div>
      {% else %}
        <p class="no-posts-found">No posts found.</p>
      {% endif %}
    </div>
  {% endif %}

  {# All of the rest of the posts in masonry #}
  <div class="masonry-grid">
    <div class="masonry-sizer"></div>
    <ul class="semantic-only-list infinite-scroll-container">
      {% for post in impactEntries %}
        {% if loop.index > 1 %}
          {% if loop.index in ['3','7'] and stats|length %}
            <li class="masonry-item -force-aspect">
              {% include 'partials/media-blocks/_stat' with { 'block': stats|last } %}
              {% set stats = stats|slice(0,-1) %}
            </li>
          {% endif %}
          <li class="masonry-item infinite-scroll-object">
            {% include 'news/_article' %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  {% include 'partials/_pagination-lists' %}

{% endblock %}
