{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bodyClass = 'white-header' %}
{% set officeEntries = craft.entries.section('offices').all() %}

{% block filters %}
  <h2 class="font-nav current"><a href="/contact/">Contact</a></h2>
  <ul class="filters semantic-only-list">
    {% for office in officeEntries %}
      <li class="{{ active(office.getUrl(), 'url', 'current') }}">
        <a href="{{ office.getUrl() }}">{{ office.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}

<div class="row -halves">
  <div class="row-block">
    <div class="module text-module">
      <div class="font-h1 no-margin user-content">{{ entry.body }}</div>
    </div>
  </div>
</div>

  <section id="offices">
    <ul class="row -quarters photo-row-separators semantic-only-list">
      {% for entry in officeEntries %}
        <li class="row-block separate">
          {% include 'offices/_article' %}
        </li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}
