{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set bodyClass = 'white-header' %}
{% set officeEntries = craft.entries.section('offices').all() %}

{% block filters %}
  <h2 class="font-nav current"><a href="/contact/">Contact</a></h2>
  <ul class="filters semantic-only-list">
    {% for office in officeEntries %}
      <li class="{{ active(office.url, 'url', 'current') }}">
        <a href="{{ office.url }}">{{ office.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block content %}

<div class="row -halves">
  <div class="row-block">
    <div class="module text-module">
      <div class="font-h1 no-margin user-content">{{ entry.body }}</div>
    </div>
  </div>
  <div class="row-block">
    <div class="module text-module">
      <div class="buttons">
        <a href="#general" class="button smoothscroll">
          <span class="border"></span><span class="extra-corners"></span>
          General Contacts
          <svg class="icon icon-down-arrow"><use xlink:href="#icon-down-arrow" /></svg>
        </a>
      </div>
    </div>
  </div>
</div>

  <section  id="offices" class="margin-vertical">
    <div class="row -halves hr-top-black">
      <div class="row-block">
        <div class="module text-module">
          <h2 class="font-h1">Offices</h2>
        </div>
      </div>
    </div>

    <ul class="row -quarters -separators semantic-only-list">
      {% for entry in officeEntries %}
        <li class="row-block separate">
          <article class="module contact-module pad vcard image-wrap location-contact">
            {% set image = entry.officeImage.one() %}
            <div class="image" {% if image %}style="background-image: url('{{ image.getUrl('thumb') }}');"{% endif %}></div>
            <div class="content">
              <h1 class="font-p"><a href="{{ entry.url }}" class="fn org url"><span class="organization-name sr-only">AEI</span><span class="organization-unit">{{ entry.title }}</span></a></h1>
              <div class="font-details">
                {% if entry.phoneNumber %}
                  <div class="tel">{{ entry.phoneNumber }}</div>
                 {% endif %}
                {% if entry.email %}
                  <div class="email">
                    <a href="mailto: {{ entry.email }}">
                      {% for part in entry.email|split('@') %}
                        <span class="email-part">{{ part }}{{ loop.index0==0 ? '@' : '' }}</span>
                      {% endfor %}
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          </article>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section  id="general" class="margin-vertical">
    <div class="row -halves hr-top-black">
      <div class="row-block">
        <div class="module text-module">
          <h2 class="font-h1">General</h2>
        </div>
      </div>
    </div>


    <ul class="row -quarters -separators semantic-only-list margin-bottom">
      {% for block in entry.contactBlocks.all() %}
        <li class="row-block separate">
          <article class="module contact-module pad vcard general-contact">
            <div class="content">
              <h1 class="font-p"><span class="fn org url"><span class="organization-name sr-only">AEI</span><span class="organization-unit">{{ block.contactTitle }}</span></spam></h1>
              <div class="font-details">
                {% if block.phoneNumber %}
                  <div class="tel"><a href="tel:{{ block.phoneNumber }}">{{ block.phoneNumber }}</a></div>
                 {% endif %}
                {% if block.email %}
                  <div class="email">
                    <a href="mailto: {{ block.email }}">
                      {% for part in block.email|split('@') %}
                        <span class="email-part">{{ part }}{{ loop.index0==0 ? '@' : '' }}</span>
                      {% endfor %}
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          </article>
        </li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}
