{% extends (craft.app.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}
  {% cache unless currentUser %}

  {% for block in entry.featureBlocks.all() %}
    {% switch block.type %}
    {% case "feature" %}

      {{ block.featureHeadline }}
      {% set image = block.featureImage.one() %}
      {% if image %}
        {{ image.getUrl() }}
      {% endif %}

    {% case "impact" %}

      {% for impactPost in block.impactPosts.all() %}
        {{ impactPost.title }}
      {% endfor %}

    {% endswitch %}
  {% endfor %}

  {% endcache %}
{% endblock %}
