{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% block content %}

  {% for pageHeader in entry.pageHeader.all() %}
    {% include '/partials/_theater-header' with { clearheader: 'yes' } %}
  {% endfor %}

  {% set rowNumber = 0 %}
  {% for block in entry.featureBlocks.all() %}
    {% switch block.type %}
      {% case "project" %}

        {% set rowNumber = rowNumber + 1 %}

        {% set project = block.featuredProjects.orderBy('RAND()')[0] ?? null %}
        {% if project %}

          {% set projectColor = (project.colorSwatch.label ?? null) ? project.colorSwatch.label|lower : 'black' %}

          <div class="row -halves {{ cycle(['','-flip-order-md'],rowNumber) }}">
            <div class="row-block">
              <div class="module image-wrap -square">
                {% set image = project.projectImage.one() %}
                {% if image %}
                   <div class="image lazy" style="background-image: url('');" data-original="{{ image.getUrl('header') }}"></div>
                {% endif %}
              </div>
            </div>
            <div class="row-block">
              <div class="module text-module background-{{ projectColor }} text-off-white font-smoothing">
                <p class="font-h1">{{ project.projectTagline }}</p>
                <div class="buttons">
                  <div class="row -halves">
                    <div class="row-block">
                      <div class="project-title -nopad">
                        <h1 class="font-p"><a href="{{ project.url }}">{{ project.projectClientName }}</a></h1>
                        <h2 class="font-captions">{{ project.projectName }}</h2>
                      </div>
                    </div>
                    <div class="row-block">
                      <a class="button -right" href="{{ project.url }}">
                        <span class="border"></span><span class="extra-corners"></span>
                        View Project
                        <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        {% endif %}

      {% case "feature" %}

        {% set rowNumber = rowNumber + 1 %}

        <div class="row -halves {{ cycle(['','-flip-order-md'],rowNumber) }}">
          <div class="row-block">
            <div class="module image-wrap -square">
              {% set image = block.featureImage.one() %}
              {% if image %}
                 <div class="image lazy" style="background-image: url('');" data-original="{{ image.getUrl('header') }}"></div>
              {% endif %}
            </div>
          </div>
          <div class="row-block">
            <div class="module text-module background-{{ cycle(['off-white','black'],rowNumber) }} text-{{ cycle(['black','off-white'],rowNumber) }} font-smoothing">
              <p class="font-h1">{{ block.featureHeadline }}</p>
              <div class="buttons">
                <a class="button" href="{{ block.featureLink }}">
                  <span class="border"></span><span class="extra-corners"></span>
                  {{ block.featureLinkLabel }}
                  <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
                </a>
              </div>
            </div>
          </div>
        </div>

      {% case "impact" %}

        {% set impactPosts = block.impactPosts.all() %}
        {% if impactPosts|length < 2 %}
          {% set omitId = impactPosts|length == 1 ? impactPosts[0].id : 0 %}
          {% set extraImpactPosts = craft.entries.section('impact').id('not ' ~ omitId).limit(2 - impactPosts|length).all() %}
          {% set impactPosts = impactPosts|merge(extraImpactPosts) %}
        {% endif %}

        <ul class="row -halves -separators semantic-only-list">
          {% for post in impactPosts %}
            <li class="row-block separate">
              {% include 'impact/_article' %}
            </li>
          {% endfor %}
        </ul>

    {% endswitch %}
  {% endfor %}

{% endblock %}

