{% set image = block.image[0] ?? null %}
{% if image %}
  {% set aspectRatio =
    block.width=='full' ? 'landscape' :
    (block.image[0].getWidth() > block.image[0].getHeight() ? 'landscape' : 'portrait')
  %}
  {% set imageWidth = block.width == 'full' ? 1600 : 800 %}
  {% set treatedImage = craft.imager.transformImage(image, { width: imageWidth }) %}
{% endif %}

<div class="module image-module -{{ block.width }}">
  <div class="image-wrap -{{ aspectRatio ?? 'landscape' }}">
    {% if image and treatedImage %}
      <div class="image lazy" style="background-image: url('');" data-original="{{ treatedImage.getUrl() }}"></div>
    {% endif %}
  </div>
  {% if block.caption %}
    <div class="caption -right font-captions">
      <svg class="icon icon-up-arrow"><use xlink:href="#icon-up-arrow" /></svg>
      <p div class="no-margin">{{ block.caption }}</p>
    </div>
  {% endif %}
</div>