<div class="module link-grid-module hr-top-off-white hr-bottom-off-white">
  <div class="row -thirds -separators">
    {% for row in block.links.all() %}
      {% set relatedEntry = row.relatedEntry.one() %}
      {% if relatedEntry %}
        {% set linkTitle = row.linkTitle ?? relatedEntry.title %}
        {% set buttonUrl = relatedEntry.getUrl() %}
      {% else %}
        {% set linkTitle = row.linkTitle %}
      {% endif %}
      {% if row.buttonUrl %}
        {% set buttonUrl = row.buttonUrl %}
      {% endif %}
      {% set buttonText = row.buttonText ?? 'Read More' %}

      <div class="row-block">
        <div class="module link-module">
          <div class="category font-details">{{ row.linkHeader }}</div>
          <h2>{{ linkTitle }}</h2>
          <a {{ row.openInNewWindow ? 'target="_blank"' : '' }} class="button" href="{{ buttonUrl }}">
            <span class="border"></span><span class="extra-corners"></span>
            {{ buttonText }}
            <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
          </a>
        </div>
      </div>

    {% endfor %}
  </div>
</div>