<div class="module quotes-module pad">
  <div class="quote-carousel -unslicked">
    {% for row in block.quotes.all() %}
      <blockquote class="no-margin">
        "{{ row.quote }}"
        {% set person = row.aeiPerson.one() %}
        {% if person %}
          <footer>— <cite><a href="{{ person.getUrl() }}">{{ person.title }}</a>{% if row.personCompany %}, {{ row.personCompany }}{% endif %}</cite></footer>
        {% elseif row.personName or row.personCompany %}
          <footer>— <cite>{{ row.personName }}{{ row.personName and row.personCompany ? ', ' : '' }}{{ row.personCompany }}</cite></footer>
        {% endif %}
      </blockquote>
    {% endfor %}
  </div>
</div>