{% set substitutions = {
  '%': '<span class="percent">%</span>'
} %}

{% if block.statFigure2 %}

  <div class="module stat-module stat-two-figure">
    <div class="stat-wrap">
      <dl class="figure">
        <dt{{ block.statFigure|length > 8 ? ' class="-verbose"' : '' }}>{{ block.statFigure|escape|replace(substitutions)|raw }}</dt>
        <dd>{{ block.statLabel }}</dd>
      </dl>
      <dl class="figure">
        <dt{{ block.statFigure2|length > 8 ? ' class="-verbose"' : '' }}>{{ block.statFigure2|escape|replace(substitutions)|raw }}</dt>
        <dd>{{ block.statLabel2 }}</dd>
      </dl>
    </div>
  </div>

{% else %}

  <div class="module stat-module stat-one-figure">
    <div class="stat-wrap">
      <dl class="figure">
        <dt{{ block.statFigure|length > 8 ? ' class="-verbose"' : '' }}>{{ block.statFigure|escape|replace(substitutions)|raw }}</dt>
        <dd>{{ block.statLabel }}</dd>
      </dl>
    </div>
  </div>

{% endif %}
