{% set substitutions = {
  '%': '<span class="percent">%</span>'
} %}
{% set statFigure = block.statFigure|escape|replace(substitutions)|raw %}
{% set statFigure2 = block.statFigure2|escape|replace(substitutions)|raw %}

{% if block.statFigure2 %}


  <div class="module stat-module stat-two-figure">
    <div class="stat-wrap">
      <dl class="figure">
        <dt{{ statFigure|length > 8 ? ' class="-verbose"' : '' }}>{{ statFigure }}</dt>
        <dd>{{ block.statLabel }}</dd>
      </dl>
      <dl class="figure">
        <dt{{ statFigure2|length > 8 ? ' class="-verbose"' : '' }}>{{ statFigure2 }}</dt>
        <dd>{{ block.statLabel2 }}</dd>
      </dl>
    </div>
  </div>

{% else %}

  <div class="module stat-module stat-one-figure">
    <div class="stat-wrap">
      <dl class="figure">
        <dt{{ statFigure|length > 8 ? ' class="-verbose"' : '' }}>{{ statFigure }}</dt>
        <dd>{{ block.statLabel }}</dd>
      </dl>
    </div>
  </div>

{% endif %}
