//Padding
.pad {
  padding: $padding;
  @include media-lg {
    padding: $padding-lg;
  }
}

.pad-vertical {
  padding-top: $padding;
  padding-bottom: $padding;
}

// Don't margin
.no-margin {
  margin: 0;
}

// A general margin
.margin {
  &-bottom, &-vertical {
    margin-bottom: $padding;
    @include media-md {
      margin-bottom: 2*$padding;
    }
  }

  &-top, &-vertical {
    margin-top: $padding;
    @include media-md {
      margin-top: 2*$padding;
    }
  }
}

// A general bigger margin
.big-margin {
  &-bottom, &-vertical {
    margin-bottom: $padding;
    @include media-md {
      margin-bottom: 3*$padding;
    }
  }

  &-top, &-vertical {
    margin-top: $padding;
    @include media-md {
      margin-top: 3*$padding;
    }
  }
}

// Overlaps the block up either 2 h1 lines or 3 p lines (used in headers)
.top-overlap {
  &-h1 {
    @include media-md {
      margin-top: -71px;
    }

    @include media-lg {
      margin-top: -88px;
    }
  }

  &-p {
    @include media-md {
      margin-top: -106px;
    }
  }
}

.absolute-center {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}