// Typography

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-smoothing { @include font-smoothing; }

// Formular Font Files (excluded from repo.  They will need to be manually added.)

// Regular
@font-face {
    font-family: 'AEI Formular';
    src: url('../../fonts/formular-regular-webfont.woff2') format('woff2'),
         url('../../fonts/formular-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Medium
@font-face {
    font-family: 'AEI Formular';
    src: url('../../fonts/formular-medium-webfont.woff2') format('woff2'),
         url('../../fonts/formular-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

// Bold
@font-face {
    font-family: 'AEI Formular';
    src: url('../../fonts/formular-bold-webfont.woff2') format('woff2'),
         url('../../fonts/formular-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

// Italic
@font-face {
    font-family: 'AEI Formular';
    src: url('../../fonts/formular-regularitalic-webfont.woff2') format('woff2'),
         url('../../fonts/formular-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

// Bold & Italic
@font-face {
    font-family: 'AEI Formular';
    src: url('../../fonts/formular-bolditalic-webfont.woff2') format('woff2'),
         url('../../fonts/formular-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

// Mono
@font-face {
    font-family: 'AEI Formular Mono';
    src: url('../../fonts/formular-mono-webfont.woff2') format('woff2'),
         url('../../fonts/formular-mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Mixins to declare a font family along with matching weight/style
@mixin formular-regular {
  font-weight: normal;
  font-style: normal;
  font-family: 'AEI Formular', sans-serif;
}

@mixin formular-medium {
  font-weight: 500;
  font-style: normal;
  font-family: 'AEI Formular', sans-serif;
}

@mixin formular-bold {
  font-weight: 700;
  font-style: normal;
  font-family: 'AEI Formular', sans-serif;
}

@mixin formular-mono {
  font-weight: normal;
  font-style: normal;
  font-family: 'AEI Formular Mono', monospace;
}

// Convenience classes for above
.formular-regular { @include formular-regular; }
.formular-medium { @include formular-medium; }
.formular-bold { @include formular-bold; }
.formular-mono { @include formular-mono; }

// Mixin for handling font sizes + line heights quickly
@mixin font-size ($size, $lh) {
  font-size: #{$size}px;
  line-height: ($lh / $size);
}

// Mixin to easily declare everything we care about for a paragraph style
@mixin paragraph-style ($size, $lh, $ls: 0em, $tt: none) {
  @include font-size($size, $lh);
  letter-spacing: $ls;
  text-transform: $tt;
}

// Paragraph styles
@mixin font-p {
  @include formular-regular;
  @include paragraph-style (16.5, 24, $ls: -.025em);
  @include media-xl {
    @include paragraph-style(22, 32, $ls: -.025em);
  }
}

@mixin font-h1 {
  @include formular-regular;
  @include paragraph-style (22, 32, $ls: -.025em);
  @include media-lg {
    @include paragraph-style (33, 40, $ls: -.025em);
  }
  @include media-xl {
    @include paragraph-style(44, 56, $ls: -.025em);
  }
}

@mixin font-h2 {
  @include formular-regular;
  @include paragraph-style (22, 32, $ls: -.025em);
  @include media-xl {
    @include paragraph-style (33, 40, $ls: -.025em);
  }
}

@mixin font-filter {
  @include formular-regular;
  @include paragraph-style (16.5, 32, $ls: -.025em);
}

@mixin font-captions {
  @include formular-regular;
  @include paragraph-style (12, 24, $ls: .025em);
}

@mixin font-buttons {
  @include formular-regular;
  @include paragraph-style (12, 16, $ls: .025em);
}

@mixin font-details { // This one is an alias in the ID file
  @include font-buttons;
}

@mixin font-stat-large {
  @include formular-medium;
  @include paragraph-style (99, 88, $ls: -.025em);
}

@mixin font-stat-medium {
  @include formular-medium;
  @include paragraph-style (66, 72, $ls: -.025em);
}

@mixin font-stat-small {
  @include formular-bold;
  @include paragraph-style (33, 32, $ls: -.025em);
}

@mixin font-copyright {
  @include formular-regular;
  @include paragraph-style (12, 24, $ls: -.025em);
}

// Convenience classes for above
.font-p { @include font-p; }
.font-h1 { @include font-h1; }
.font-h2 { @include font-h2; }
.font-filter { @include font-filter; }
.font-captions { @include font-captions; }
.font-buttons { @include font-buttons; }
.font-details { @include font-details; }
.font-stat-large { @include font-stat-large; }
.font-stat-medium { @include font-stat-medium; }
.font-stat-small { @include font-stat-small; }
.font-copyright { @include font-copyright; }
