@mixin semantic-only-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.semantic-only-list {
  @include semantic-only-list;
}

@mixin bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-cover {
  @include bg-cover;
}

@mixin fill {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.fill {
  @include fill;
}

@mixin no-underline {
  &, a {
    text-decoration: none;
  }
}
.no-underline {
  @include no-underline;
}

// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
@mixin dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.dont-break-out {
  @include dont-break-out;
}

.no-break {
  display: inline-block;
}