// Variables

// Primary colors
$black: #282826; // ID file: "Soft Black"
$red: #ff422d; // ID file: "AEI Red"
$concrete-med: #87847f;
$concrete-light2: #d1ccc2;
$concrete-light: #e1ddd6;
$off-white: #f4f2ed;
$white: #fff;

// Secondary colors
$copper: #664747;
$brass: #725e4f;
$green: #545b44;
$blue: #3d4460;
$teal: #475b66;
$violet: #56425b;
$gray: #595954;

// Spacing/sizing
$beat: 8px;
$padding: 5*$beat;
$padding-sm: 4*$beat;
$padding-md: 5*$beat;
$padding-lg: 7*$beat;
$landscape-padding: 66.66%;
$portrait-padding: 133.33%;

// Header vars
$header-height: 94px;
$header-height-sm: 112px;
$header-height-md: 140px;
$header-height-lg: 168px;

// Animation
$ease: ease-out;

// Breakpoints
$breakpoint-thirds-2col: 600px;
$breakpoint-thirds-3col: 900px;
$breakpoint-quarters-2col: 550px;
$breakpoint-quarters-4col: 900px;
$breakpoint-meta: 800px;
$sidebar-max-width: 288px;

$breakpoint-sm: 480px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;