{% extends (craft.app.request.isAjax and not craft.app.request.isLivePreview) ? "_ajax-layout" : "_layout" %}
{% set statType = craft.categories.group('statTypes').slug('expertise').one() %}
{% set stats = [] %}

{% if category is defined %}

  {% paginate craft.entries({
    section: 'projects',
    relatedTo: category,
    with: [
    'services',
    'markets',
    'projectImage'
    ]
  }).orderBy('featured DESC, postDate DESC').limit(8) as paginationInfo, projectEntries %}

  {% set title = category.title %}
  {% set subheader = category.body %}
  {% set stats = craft.entries.section('stats').relatedTo(category).orderBy('RAND()').limit(2).all() %}

  {# Find Market Contacts and Offices #}
  {% set marketContactsIds = category.marketContacts.ids() %}
  {% if marketContactsIds|length %}
    {% set marketContacts = craft.entries({
      section: 'people',
      with: [ 'office' ],
      id: marketContactsIds,
    }) %}
    {% set marketContactsOffices = craft.entries.section('offices').relatedTo({ sourceElement: marketContactsIds, field: 'office' }) %}
  {% endif %}


{% else %}

  {% paginate craft.entries({
    section: 'projects',
    with: [
      'services',
      'markets',
      'projectImage'
    ]
  }).orderBy('featured DESC, postDate DESC').limit(8) as paginationInfo, projectEntries %}

  {% set title = entry.title %}
  {% set subheader = entry.body %}
  {% set stats = craft.entries.section('stats').relatedTo(statType).orderBy('RAND()').limit(2).all() %}

{% endif %}

{% block filters %}
  <li class="filters-item {{ (category is not defined) ? 'current' : '' }}">
    <a href="/expertise/">All</a>
  </li>
  {% for cat in craft.categories.group('markets').all() %}
    <li class="filters-item {{ active(cat.url, 'url', 'current') }}">
      <a href="{{ cat.url }}">{{ cat.title }}</a>
    </li>
  {% endfor %}
{% endblock %}

{# If the first project is portrait, this page will have an all masonry layout.
If landscape, the first post will be pulled out into a different grid.
First we determine which. #}
{% set firstProjectImage = projectEntries[0].projectImage[0] ?? null %}
{% set firstProjectAspectRatio = firstProjectImage ?
  (firstProjectImage.getWidth() > firstProjectImage.getHeight() ? 'landscape' : 'portrait') :
  'landscape' %}
{% set allMasonry = (craft.app.request.isAjax or firstProjectAspectRatio == 'portrait') %}

{# For clarity/DRY sake, save the intro module to a variable. #}
{% set introModule %}
  {% if not craft.app.request.isAjax %}
    <div class="module text-module">
      <div class="font-h1 user-content">{{ subheader }}</div>
      <div class="buttons">
        {% if category is defined and marketContactsIds|length %}
          <button class="contact-modal-open button">
            <span class="border"></span><span class="extra-corners"></span>
            Contacts
            <svg class="icon icon-plus"><use xlink:href="#icon-plus" /></svg>
          </button>
        {% endif %}
        <a class="button" href="/awards/">
          <span class="border"></span><span class="extra-corners"></span>
          Awards
          <svg class="icon icon-right-arrow"><use xlink:href="#icon-right-arrow" /></svg>
        </a>
      </div>
    </div>

    {# Any Market Contacts? Show grouped by Office #}
    {% if category is defined and marketContactsIds|length %}
      <div class="modal background-white text-black pad -unloaded" id="contact-modal">
        <h2 class="title">{{ category.title }} Contacts</h2>
        <ul class="offices semantic-only-list">
        {% for office in marketContactsOffices.all() %}
          <li class="office">
            <h3 class="office-title">{{ office.title }}</h2>

            <ul class="contacts semantic-only-list font-details">

              {% for person in marketContacts.all() %}
                {% set personOffice = person.office[0] ?? null %}
                {% if personOffice and personOffice.id == office.id %}
                  <li class="contact">
                    <a href="{{ person.url }}">{{ person.title }}</a><br/>
                    {% if person.phoneNumber %}
                      {{ person.phoneNumber }}<br/>
                    {% endif %}
                    {% if person.email %}
                      <a href="mailto:{{ person.email }}">
                        {% for part in person.email|split('@') %}
                          <span class="email-part">{{ part }}{{ loop.index0==0 ? '@' : '' }}</span>
                        {% endfor %}
                      </a>
                    {% endif %}
                  </li>
                {% endif %}
              {% endfor %}

            </ul>
          </li>
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}{# End if not AJAX #}
{% endset %}


{# Now, finally, build the content and apologize to TWIG gods. This is all for you, Ross. ;) #}
{% block content %}
  {% if allMasonry %}

    {# All projects and intro text in masonry #}
    <div class="masonry-grid">
      <div class="masonry-sizer"></div>
      <ul class="semantic-only-list infinite-scroll-container">
        <div class="masonry-item intro-block pull-to-top-h1">
          {{ introModule }}
        </div>
        {% for project in projectEntries %}
          {% if loop.index in ['3','7'] and stats|length %}
            <li class="masonry-item">
              {% include 'partials/media-blocks/_stat' with { 'block': stats|last } %}
              {% set stats = stats|slice(0,-1) %}
            </li>
          {% endif %}
          <li class="masonry-item infinite-scroll-object">
            {% include 'projects/_article' %}
          </li>
        {% endfor %}
      </ul>
    </div>

  {% else %}

    {# Top row: project text and first project (wrapped so they can visually align) #}
    <div class="row -halves">
      <div class="row-block intro-block pull-to-top-h1">
        {{ introModule }}
      </div>
      {% set project = projectEntries ? projectEntries[0] : false %}
      {% if project %}
        <div class="row-block">
          {% include 'projects/_article' %}
        </div>
      {% endif %}
    </div>

    {# All of the rest of the projects in masonry #}
    <div class="masonry-grid">
      <div class="masonry-sizer"></div>
      <ul class="semantic-only-list infinite-scroll-container">
        {% for project in projectEntries %}
          {% if loop.index > 1 %}
            {% if loop.index in ['3','7'] and stats|length %}
              <li class="masonry-item">
                {% include 'partials/media-blocks/_stat' with { 'block': stats|last } %}
                {% set stats = stats|slice(0,-1) %}
              </li>
            {% endif %}
            <li class="masonry-item infinite-scroll-object">
              {% include 'projects/_article' %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  {% endif %}

  <nav class="pagination" data-total-pages="{{ paginationInfo.totalPages }}">
    <ul>
      {% if paginationInfo.prevUrl %}
      <li class="prev">
        <a rel="prev" href="{{ paginationInfo.prevUrl }}">Previous Page</a>
      </li>
      {% endif %}
      {% if paginationInfo.nextUrl %}
      <li class="next">
        <a rel="next" href="{{ paginationInfo.nextUrl }}">Next Page</a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% endblock %}