<IfModule mod_rewrite.c>
RewriteEngine On

# Less-intensive 404s for missing assets
RewriteRule \.(jpg|jpeg|png|gif|ico|icns|swf|bmp)$ - [NC,R=404,L]

# Force single domain
RewriteCond %{REQUEST_URI} !\.well-known
RewriteCond %{HTTP_HOST} !^aeieng\.com [NC]
RewriteCond %{HTTP_HOST} !^aeieng\.webfactional\.com [NC]
RewriteCond %{HTTP_HOST} !^aei-craft\.firebelly\.co [NC]
RewriteCond %{HTTP_HOST} !^aei-craft\.localhost [NC]
RewriteRule ^(.*)$ https:/aeieng\.com%{REQUEST_URI} [R=301,L]

# Force HTTPS
RewriteCond %{REQUEST_URI} !\.well-known
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} !^aei-craft\.firebelly\.co [NC]
RewriteCond %{HTTP_HOST} !^aeieng\.webfactional\.com [NC]
RewriteCond %{HTTP_HOST} !^aei-craft\.localhost [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Just redirect all of the old site URLs (e.g. index.php/foo) to the homepage
RewriteRule ^index.php/(.*)$ / [R=302,L,QSA]
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send would-be 404 requests to Craft
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
    RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>
