<IfModule mod_rewrite.c>
RewriteEngine On

# WebFaction: Added for ECE-736060 (?? this was on live site -nate)
RewriteRule ^autodiscover/autodiscover.xml$ - [F]

# Less-intensive 404s for missing assets
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule \.(jpg|jpeg|png|gif|ico|icns|swf|bmp)$ - [NC,R=404,L]

# Markets/projects URL change
RewriteRule ^projects/([^/]+)/?$ /markets/project/$1 [R=301,L]
RewriteRule ^projects/market/([^/]+)/?$ /markets/$1 [R=301,L]

# Force single domain
RewriteCond %{REQUEST_URI} !\.well-known
RewriteCond %{HTTP_HOST} !^aeieng\.com [NC]
RewriteCond %{HTTP_HOST} !^aeieng\.webfactional\.com [NC]
RewriteCond %{HTTP_HOST} !^aei-craft\.firebelly\.co [NC]
RewriteCond %{HTTP_HOST} !^aei-craft\.localhost [NC]
RewriteCond %{HTTP_HOST} !^wf\.aeieng\.com [NC]
RewriteRule ^(.*)$ https://aeieng\.com%{REQUEST_URI} [R=301,L]

# Force HTTPS
RewriteCond %{REQUEST_URI} !\.well-known
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} !^aei-craft\.firebelly\.co [NC]
RewriteCond %{HTTP_HOST} !^aeieng\.webfactional\.com [NC]
RewriteCond %{HTTP_HOST} !^aei-craft\.localhost [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Handle old office number URLs
RewriteRule ^index\.php/0000/?$ /contact/ [R=301,L]
RewriteRule ^index\.php/3600/?$ /contact/atlanta [R=301,L]
RewriteRule ^index\.php/3900/?$ /contact/baltimore [R=301,L]
RewriteRule ^index\.php/4500/?$ /contact/chapel-hill [R=301,L]
RewriteRule ^index\.php/4700/?$ /contact/chicago [R=301,L]
RewriteRule ^index\.php/4011/?$ /contact/denver [R=301,L]
RewriteRule ^index\.php/4100/?$ /contact/gainesville [R=301,L]
RewriteRule ^index\.php/4800/?$ /contact/houston [R=301,L]
RewriteRule ^index\.php/3500/?$ /contact/los-angeles [R=301,L]
RewriteRule ^index\.php/4000/?$ /contact/madison [R=301,L]
RewriteRule ^index\.php/4900/?$ /contact/phoenix [R=301,L]
RewriteRule ^index\.php/4201/?$ /contact/portland [R=301,L]
RewriteRule ^index\.php/4300/?$ /contact/san-francisco [R=301,L]
RewriteRule ^index\.php/4200/?$ /contact/seattle [R=301,L]
RewriteRule ^index\.php/4101/?$ /contact/tampa [R=301,L]
RewriteRule ^index\.php/4600/?$ /contact/washington-dc [R=301,L]
RewriteRule ^index\.php/3800/?$ /contact/leicester [R=301,L]

# Just redirect all of the old site URLs (e.g. index.php/foo) to the homepage
RewriteRule ^index.php/(.*)$ / [R=302,L,QSA]
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send would-be 404 requests to Craft
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
    RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>